<!-- Following People Modal Trigger -->
<button class="btn btn-add-people" data-toggle="modal" data-target="#projectsModalTrigger">+ Adicionar pessoas</button>

<!-- Projects display -->
<div class="modal fade" id="projectsModalTrigger" tabindex="-1" role="dialog"
    aria-labelledby="projectsModalTriggerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Pessoas que você segue
            </div>
            <div class="modal-body">
                <div class="list-group" role="tablist">
                    <div class="list-group-item" data-toggle="list" *ngFor="let followed of profilesFollowed" (click)="onProfilesSelected(followed.profileId)">
                        <img [src]="followed.picture" alt="Foto de perfil">
                        
                        {{ followed.name }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-outline-secondary"
                    data-dismiss="modal">Cancelar</button>
                <!-- Add people -->
                <button type="button" class="btn btn-bouman" data-dismiss="modal" (click)="addProfileToProject()">Adicionar</button>
            </div>
        </div>
    </div>
</div>
