<section>
    <header>
        <h2>Introdução</h2>
    
        <p>
            Nós usamos esses termos básicos em todo o contrato, e eles têm significados específicos. Você deve saber
            o que queremos dizer quando usamos cada um dos termos. Não vamos aplicar um teste sobre isso, mas ainda
            assim, são informações úteis.
        </p>
    
        <p>
            Uma "Conta" representa seu vínculo com o Bouman. Uma "Conta de Usuário" representa uma autorização
            individual de um Usuário para entrar e usar o Serviço e serve como identidade do Usuário no Bouman.
            “Grupos” são espaços de trabalho compartilhados que podem estar associados a uma única entidade ou a um
            ou mais Usuários em que vários Usuários podem colaborar em vários projetos de uma só vez. Uma Conta de
            Usuário pode ser um integrante de um número qualquer de Grupos.
        </p>
    
        <p>
            O "Contrato" refere-se, coletivamente, a todos os termos, condições, avisos contidos ou referenciados
            neste documento “Termos de Serviço” e todas as outras regras operacionais, políticas e procedimentos que
            podemos publicar de vez em quando no Site. Todas as nossas políticas de site estão disponíveis <a
                href="/terms"> aqui. </a>
        </p>
    
        <p>
            "Conteúdo" refere-se ao conteúdo em destaque ou exibido através do Site, incluindo sem código de
            limitação, texto, dados, artigos, imagens, fotografias, gráficos, recursos e outros materiais que estão
            disponíveis no Site ou disponíveis através do Serviço. "Conteúdo" também inclui Serviços. O "Conteúdo
            Gerado pelo Usuário" é Conteúdo escrito ou não, criado ou carregado pelos nossos Usuários. "Seu
            conteúdo" é o Conteúdo que você cria ou possui.
        </p>
    
        <p>
            "O Usuário", "Você", e "Seu", referem-se à pessoa individual, empresa ou grupo que tenha visitado ou
            esteja usando o Site ou Serviço; que acessa ou utiliza qualquer parte da Conta; ou que gerencia o uso da
            Conta no desempenho de suas funções. O Usuário deve ter pelo menos 14 anos de idade. Termos especiais
            podem se aplicar para Contas de empresa ou do governo, baseado em acordos oferecidos por nós ou
            propostos pelos mesmos.
        </p>
    
        <p>
            O "Site" refere-se ao site do Bouman localizado em bouman.com e todo o conteúdo, serviços e produtos
            fornecidos pelo Bouman no ou através do Site. Ele também se refere a subdomínios do Bouman.
            Ocasionalmente, sites pertencentes ao Bouman podem fornecer termos de serviço diferentes ou adicionais.
            Se esses termos adicionais entram em conflito com este Contrato, os termos mais específicos se aplicam à
            página ou serviço relevante.
        </p>
    
        <p>
            "Bouman" e "nós" referem-se à Equipe Bouman. <br />
    
            O "Serviço" refere-se ao software, produtos e serviços fornecidos pelo Bouman.
        </p>
    </header>
    
    <aside>
        <h2>Termos de conta</h2>
    
        <p>
            Resumo: Uma pessoa precisa criar sua Conta; você deve ter 14 anos ou mais; deve fornecer um endereço de e-mail
            válido e não pode ter mais de uma Conta gratuita. Você é o único responsável por sua Conta e tudo o que acontece enquanto você estiver logado ou usando sua Conta. Você é responsável por manter sua Conta segura.
        </p>
    </aside>
    
    <main>
        <article>
            <h3>1. Controles da conta</h3>
    
            <p>
                Usuários. Sujeito a estes Termos, você mantém o controle administrativo final sobre sua Conta de Usuário e o Conteúdo dentro dela.
            </p>
        </article>
    
        <article>
            <h3>2. Informações obrigatórias</h3>
    
            <p>
                Você deve fornecer um endereço de e-mail válido para concluir o processo de inscrição. <br />
    
                Nome, área de atuação, data de nascimento, cidade, estado, senha e descrição.
            </p>
        </article>
    
        <article>
            <h3>3. Requisitos da conta</h3>
    
            <p>
                Temos algumas regras simples para Contas de Usuário no Serviço do Bouman. <br />
    
                Você deve ser uma pessoa para criar uma Conta. Contas registradas por "bots" ou outros métodos automatizados não são permitidas. <br />
    
                Uma pessoa ou entidade legal não pode manter mais de uma Conta gratuita
            <p>
                Você deve ter 14 anos ou mais; O Bouman não direciona nosso Serviço para crianças com menos de 14 anos, e nós não permitimos quaisquer Usuários com menos de 14 anos no nosso Serviço. Se soubermos de qualquer Usuário menor de 14 anos, vamos encerrar a Conta de Usuário imediatamente. Se você for residente de um país fora do Brasil, a idade mínima do seu país pode ser maior; em um caso destes, você é responsável por cumprir as leis do seu país e entrar em contato conosco oferecendo os documentos necessários para comprovar as informações. <br />
    
                Seu login pode ser usado apenas por uma pessoa — ou seja, um único login não pode ser compartilhado por várias pessoas, se isso for denunciado o perfil será desativado por questões de segurança.
            </p>
        </article>
    
        <article>
            <h3>4. Segurança da Conta de Usuário</h3>
            <p>
                Você é responsável por manter sua Conta segura enquanto usa nosso Serviço. Nós oferecemos
                ferramentas para ajudá-lo a manter a segurança de sua Conta, mas o conteúdo de sua Conta e sua segurança são de sua responsabilidade. <br />
    
                Você é responsável por todos os conteúdos postados e atividades que ocorrem em sua Conta (mesmo quando o conteúdo é postado por outros que têm Contas em sua Conta).
            </p>
    
            <p>
                Você é responsável por manter a segurança de sua Conta e senha. O Bouman não pode e não será responsabilizado por qualquer perda ou dano causado por sua falha em cumprir com esta obrigação de segurança. <br />
    
                Você deverá rapidamente notificar o Bouman se estiver ciente de qualquer uso não autorizado de, ou acesso, a nosso Serviço através de sua Conta, incluindo qualquer uso não autorizado de sua senha ou Conta.
            </p>
        </article>
    </main>
</section>
