.card {
    position: absolute;
    width: 842px;
    height: 336px;    

    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));    
}

.card .card-body {
    display: flex;
    flex-direction: column;    
}

.card .card-body img.profile-background {
    width: 842px;
    height: 168px;

    border-radius: 8px 8px 0 0;
}

.card .card-body img.profile-picture {
    position: absolute;
    bottom: 78px;
    left: 60px;    

    width: 180px;
    height: 180px;
    mix-blend-mode: normal;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 160px;

    z-index: 10;
}

.card .card-body .profile-card-content {
    height: 168px;

    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;        
}

.card .card-body .profile-card-content .text-content {
    position: relative;
    left: 18vw;
}

.card .card-body .profile-card-content .text-content h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    display: flex;
    align-items: center;
    text-align: center;
}

.card .card-body .profile-card-content .text-content p {    
    width: 30vw;

    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}