<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <h1>DÚVIDAS FREQUENTES</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="drops">
                <div class="card">
                    <div class="card-header" id="what">
                        <span>1. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#whatItIs">O que são artigos
                            científicos?</h2>
                    </div>
                    <div id="whatItIs" class="collapse" aria-labelledby="what" data-parent="#drops">
                        <div class="card-body">
                            <p>
                                A Associação Brasileira de Normas Técnicas (ABNT) traz a definição de artigo científico
                                como "uma publicação com autoria declarada, que apresenta e discute ideias, métodos,
                                técnicas, processos e resultados nas diversas áreas do conhecimento."
                            </p>
                            <p>
                                Ou seja, nem todo texto ou trabalho pode ser considerado um artigo científico, apenas
                                aqueles que discutem, pesquisam e trazem resultados. Além disso, é preciso seguir uma
                                série de normas e formatações.
                            </p>
                            <p>
                                Artigos podem e devem ser publicados por qualquer pessoa mas geralmente os responsáveis
                                por eles são pessoas que possuem algum vínculo acadêmico.
                            </p>
                            <p>
                                Eles são importantes porque além de servir como avalição em graduações e pós-graduações,
                                também são grandes fontes de informações e possuem um papel muito importante na
                                propagação e evolução da ciência.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="how">
                        <span>2. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#whatToDo">Como escrever um artigo?
                        </h2>
                    </div>
                    <div id="whatToDo" class="collapse" aria-labelledby="how" data-parent="#drops">
                        <div class="card-body">
                            <p>
                                Resumidamente, os artigos científicos seguem as normas ABNT, porém nem mesmo a
                                Associação tem
                                uma estrutura específica para esse tipo de documento. Por isso, as formatações e tópicos
                                podem variar de acordo com a sua instituição ou do local em que você deseja
                                publicar.
                            </p>
                            <p>
                                Após analisarmos a estrutura de alguns artigos, sugerimos a seguinte estrutura, porém
                                lembre-se de investigar se essa estrutura faz sentido para o seu trabalho:
                            </p>
                            <ul>
                                <li>Resumo</li>
                                <p>
                                    Aqui você deve literalmente resumir em um texto curto e objetivo do que se trata o
                                    seu artigo, quais as metodologias, qual a problemática que torna o tema escolhido
                                    importante de ser discutido e estudado e quais os resultados que você encontrou.</p>
                                <p>
                                    É necessário também criar um Abstract, ele nada mais é do que a versão do seu resumo
                                    em inglês. Junto a isso, defina ao menos 3 palavras-chave, elas servem para
                                    facilitar a busca dos temas. Exemplo:
                                </p>
                                <span class="bold">Palavras-chave: </span><span>Ciência; Cultura; Pesquisa.</span>

                                <li>Introdução</li>
                                <p>
                                    Também deve ser um texto curto em que seja possível entender <span class="bold">o que,
                                        como e por que</span>.
                                    Nele o tema deve ser delimitado, e inserir o leitor no contexto da problemática.
                                </p>

                                <li>Desenvolvimento</li>
                                <p>
                                    Aqui o tema é aprofundado e detalhado, trazendo dados e discussões. É importante que
                                    seja escrito de uma maneira clara onde qualquer pessoa consiga entender.</p>
                                <p>
                                    Aqui, junto com os <span class="bold">referências teóricos</span> (revisão de pesquisas
                                    e discussões já existentes que possuem o mesmo tema que o seu trabalho, e que
                                    garante
                                    embasamento e qualidade ao trabalho), as <span class="bold">metodologias</span> (quais
                                    os caminhos utilizados para conduzir a pesquisa) também devem ser inseridas.
                                </p>

                                <li>Resultados</li>
                                <p>
                                    Apresenta-se os resultados encontrados na análise dos dados expostos. Pode-se
                                    utilizar, além de textos, imagens e tabelas.
                                </p>

                                <li>Conclusões ou Considerações Finais</li>
                                <p>
                                    Este é o fechamento da pesquisa. De forma clara e objetiva, indique quais conclusões
                                    são possíveis após analisar os dados e discussões e como isso se relaciona com os
                                    objetivos da pesquisa.
                                </p>

                                <li>Referências Bibliográficas ou Bibliografia</li>
                                <p>
                                    Deve constar quais foram as fontes para as informações que estão contidas no
                                    trabalho. Indique quais autores, livros, textos foram utilizados. Presta atenção
                                    nesta etapa pois caso haja alguma informação em que a fonte não esteja declarada na
                                    biblografia, caracteriza-se como <span class="bold">plágio</span>.</p>
                                <p>
                                    Há modos diferentes de declarar a referência, dependendo da fonte utilizada. Para
                                    entender cada uma delas, recomendados a leitura <a target="_blank"
                                        href="https://blog.mettzer.com/referencia-bibliografica-normas-abnt/">deste
                                        post</a> do site Mettzer.
                                </p>

                                <li>Dicas de formatação</li>
                                <p>
                                    Utilize uma folha A4 com a margem inferior e direita igual a 2cm e a margem superior
                                    e esquerda igual a 3cm.
                                </p>
                                <p>
                                    As fontes utilizadas devem ser Arial ou Times New Roman, tamanho 12, espaçamento de
                                    1,5 entre linhas e alinhamento justificado. Exceto na capa onde as informações devem
                                    ser alinhadas ao meio. O tamanho de fonte na capa e títulos podem variar entre 10 e
                                    14.
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="source">
                        <span>3. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#toFind">Onde encontrar fontes
                            confiáveis para o meu projeto?</h2>
                    </div>
                    <div id="toFind" class="collapse" aria-labelledby="source" data-parent="#drops">
                        <div class="card-body">
                            <p>google academico scielo e etc</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="support">
                        <span>4. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#forSupport">Como e onde conseguir
                            bolsas e
                            investimentos para o meu projeto?</h2>
                    </div>
                    <div id="forSupport" class="collapse" aria-labelledby="support" data-parent="#drops">
                        <div class="card-body">
                            <p>capes e apoia.se, catarse tem vários</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="where">
                        <span>5. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#toPublish">Onde posso publicá-los?
                        </h2>
                    </div>
                    <div id="toPublish" class="collapse" aria-labelledby="where" data-parent="#drops">
                        <div class="card-body">
                            <p>tem umas revistas de vários lugares</p>>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="property">
                        <span>6. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#toGuarantee">Como posso garantir a
                            minha propriedade intelectual?</h2>
                    </div>
                    <div id="toGuarantee" class="collapse" aria-labelledby="property" data-parent="#drops">
                        <div class="card-body">
                            <p>a gente não vai fazer muito fica mais na sua mão mas tem como sim</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            AQUI FICARÃO AS FONTES UTILIZADAS <br>
            https://blog.mettzer.com/artigo-cientifico/ <br>
            http://www1.pucminas.br/imagedb/documento/DOC_DSC_NOME_ARQUI20180806164918.pdf <br>
            https://www.educamaisbrasil.com.br/educacao/noticias/qual-e-a-estrutura-de-um-artigo-cientifico-abnt <br>
        </div>
    </div>
</div>