h1{
    font-size: 2rem;
}
.card{
    margin: 2% auto;
    filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.3));  
    border: none;
}
.card, .card-header, .card-body{
    border: none;
}
.card-header{
    display: flex;
    background-color: #fa912e50;
}
.card-header h2{
    font-size: 1.4rem;
    font-weight: normal;
    padding-left: 1%;
    margin: auto 0;
    color: #3a3a3a;
}
.card-header h2:hover{
    text-decoration: underline;
    cursor: pointer;
}
.card-header span{
    font-size: 1.1rem;
    color: #2ca8ba;
    margin: auto 0;
}
.card-body{
    background-color: rgb(0, 0, 0, 0.1);
}
.card-body p{
    font-size: 1.1rem;
}