<div class="card">
    <div class="card-body">
        <div class="profile-details">
            <img [src]="profileImg" alt="Foto de Perfil" class="profile-picture">
            <div class="profile-info">
                {{ profileName }}
                <span>{{ publication.publishedAt.seconds * 1000 | date: 'd MMM yy'}} </span>
            </div>
        </div>
        <p class="card-text">
            {{ publication.content | slice:0:limit  }}<span [hidden]="sMDisabled" (click)="showMore()">ver mais...</span>
        </p>
    </div>
    <div class="card-footer">
        <button class="btn btn-default" (click)="onLikePost(publication.postId)">
            <img src="/assets/like-gray.svg" alt="Curtir">Curtir
        </button>

        <button class="btn btn-default">
            <img src="/assets/comment-gray.svg" alt="Comentar">Comentar
        </button>

        <button class="btn btn-default">
            <img src="/assets/share-gray.svg" alt="Compartilhar">Compartilhar
        </button>
        
    </div>
</div>
