.card {
    border: none;
}

.card .card-header {
    height: 36px;

    display: flex;    
    align-items: center;

    padding-left: 10px;

    background: #FFFFFF;
    border: 2px solid #FA902E;
    box-sizing: border-box;
    border-radius: 2px;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;        

    color: #DF660F;    
}

.card .profile-details {
    display: flex;    
}

.card .profile-details img {
    position: relative;
    width: 4rem;
    height: 4rem;

    border: 1px solid #000000;
    border-radius: 4rem;

    margin: 0 3% 3% 0;
}

.card .profile-details .profile-info {
    display: flex;
    flex-direction: column;

    font-weight: bold;
    font-size: 1rem;
}

.card .profile-details .profile-info span {
    font-size: 0.75rem;

    font-weight: normal;

    color: #A4A4A4;
}

.card .card-body .card-text .publication-picture {
    width: 280px;
    height: 165px;

    margin: 1rem;
}

.card .card-body .card-text span {
    margin-left: 0.4rem;
    color: #185c66;
    cursor: pointer;
}

.card .card-body button#clear-btn {
    background-color: transparent;
    border: none;
}

.card .card-footer {
    display: flex;

    padding: 0.25rem 1.5rem;

    justify-content: space-between;

    background-color: #FA902E;

    font-weight: bold;
}

.card .card-footer .btn.btn-default {
    color: white;
}

.card .card-footer img {
    margin: 0 1rem;
}
.margindiv{
    margin-bottom : 5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
.commentsSection{
    margin-left: 0.25%;
    margin-right: 0.25%;
    background-color: white;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.0);
    border-width: 1%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.commentsHeader{
    background-color:  rgb(228, 228, 228);
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    text-align: center;
    margin: 0;
}

.commentuser p{
    font-size: 125%;
    margin : 0%;
    padding: 0%;
    margin-left: 3%;
}
.commentcontent p{
    font-size: 100%;
    margin: 0%;
    padding: 0%;
    margin-left: 1%;
}
.commentcontent{
    padding-bottom: 5%;
}
.comment{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.3);
    border-width: 1%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style:none;
    border-right-style: none;
    border-left-style: none;    
    padding-bottom: 1%;
    padding-top: 1%;
}
.comment-profile-picture{
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid #000000;
    border-radius: 2rem;
}
.comment-input{
    height: 100%;
    width: 100%;
    text-align: left;
    justify-content:space-around;
    border-radius: 0.5rem;
    resize: vertical;
    margin-bottom: 2%;
}
.date{
    text-align: right;
    font-size: 70%;
    color: gray;
}
.comment-upload-title p{
    text-align: left;
    font-size: 120%;
    padding-left: 2%;
    color:rgb(53, 53, 53);
}
.comment-upload-content{
    padding: 4%;
    background-color: rgb(207, 207, 207);
}
.nocomments{
    height: 110px;
    text-align: center;
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    margin: 0;
}
.nocomments p{
    margin: 0px;
    transform: translateY(110%);
}