.card {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    margin-bottom: 5vh;

    border: none;
}

.card .card-header {
    height: 36px;

    display: flex;    
    align-items: center;

    padding-left: 10px;

    background: #FFFFFF;
    border: 2px solid #FA902E;
    box-sizing: border-box;
    border-radius: 2px;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;        

    color: #DF660F;    
}

.card .profile-details {
    display: flex;    
}

.card .profile-details img {
    position: relative;
    width: 4rem;
    height: 4rem;

    border: 1px solid #000000;
    border-radius: 4rem;

    margin: 0 3% 3% 0;
}

.card .profile-details .profile-info {
    display: flex;
    flex-direction: column;

    font-weight: bold;
    font-size: 1rem;
}

.card .profile-details .profile-info span {
    font-size: 0.75rem;

    font-weight: normal;

    color: #A4A4A4;
}

.card .card-body .card-text .publication-picture {
    width: 280px;
    height: 165px;

    margin: 1rem;
}

.card .card-body .card-text span {
    margin-left: 0.4rem;
    color: #185c66;
    cursor: pointer;
}

.card .card-body button#clear-btn {
    background-color: transparent;
    border: none;
}

.card .card-footer {
    display: flex;

    padding: 0.25rem 1.5rem;

    justify-content: space-between;

    background-color: #FA902E;

    font-weight: bold;
}

.card .card-footer .btn.btn-default {
    color: white;
}

.card .card-footer img {
    margin: 0 1rem;
}

.modal-footer{
    justify-content: space-between;
}

button.btn-bouman-modal{
    box-sizing: border-box;
    border-radius: 6px;
    color: white;
    transition: 0.3s;
    background: #FA902E;
    border: 1px solid #DF660F;
}

button.btn-modal-form:hover{
    background: #DF660F;
}

.btnDelete{
    background-color: transparent;
    border: none;
}