<div class="card">
    <div class="card-header">
        {{ profileName }} fez uma postagem 
    </div>
    <div class="card-body">            
        <div class="profile-details">
            <img [src]="profileImg" alt="Foto de Perfil" class="profile-picture">
            <div class="profile-info">
                {{ profileName }}
                <span>{{ publication.publishedAt.seconds * 1000 | date: 'd MMM yy'}} </span>
            </div>
        </div>
        <p class="card-text">
            {{ publication.content }}
        </p>
    </div>
    <div class="card-footer">
        <!-- {{ publication.name }} -->
        <div class="interactions">
            <img src="/assets/like-gray.svg" alt="Curtir">
            <label for="">Curtir</label>

            <img src="/assets/comment-gray.svg" alt="Comentar">
            <label for="">Comentar</label>

            <img src="/assets/share-gray.svg" alt="Compartilhar">
            <label for="">Compartilhar</label>
        </div>
        
    </div>
</div>
