.modal-content .modal-header {
    font-size: 1.6rem;
    font-weight: bold;
}

.modal-content .modal-body form {
    height: 100%;
}

.modal-content .modal-body .form-group, .modal-content .modal-body select {
    width: 100%;
    margin-bottom: 1rem;
}

.form-group textarea.form-control {
    resize: none;
}

label[for="keywords"] {
    font-size: 1.4em;
    font-weight: bold;
}

#chapter-view {
    padding-left: 0;
}

.form-group .form-control#project-part {
    height: 8rem;
    text-overflow: clip;
    overflow: auto;
}

.modal-footer{
    justify-content: space-between;
}
.button{
    padding: 5px 10px 5px 10px;
    border-style:none;
    background: none;
    color:#000000;
    outline-width:0px;
    outline-color: rgba(255, 255, 255, 0);
    outline-style:solid;
    transition: 0.15s;
  }
  .button:hover{
    padding: 5px 10px 5px 10px;
    border-style:none;
    background: none;
    color:#141414;
    outline-width:1px;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    outline-style:solid;
  }