.modal-content .modal-header {
    font-size: 1.6rem;
    font-weight: bold;
}

.modal-content .modal-body form {
    height: 100%;
}

.modal-content .modal-body .form-group, .modal-content .modal-body select {
    width: 100%;
    margin-bottom: 1rem;
}

.form-group textarea.form-control {
    resize: none;
}

label[for="keywords"] {
    font-size: 1.4em;
    font-weight: bold;
}

#chapter-view {
    padding-left: 0;
}

.form-group .form-control#project-part {
    height: 8rem;
    text-overflow: clip;
    overflow: auto;
}

.modal-footer{
    justify-content: space-between;
}