<secondary-header></secondary-header>
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="bouman-user">
            <img id="user" src="/assets/user.svg">
        </div>
        <div class="bouman-form">
            <label for="email">Endereço de e-mail</label>
            <input type="email" name="user" id="email" placeholder="Ex.: bouman@email.com" required>
    
            <label for="userkey">Senha</label>
            <input type="password" name="user" id="userkey" placeholder="Ex.: @Bouman2021" required>
    
            <p>Esqueceu a sua senha? <a href="#">Clique aqui</a></p>
    
            <button id="btnLogin" routerLink="/profile">Login</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>