html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;    
    background-color: #E5E5E5;    
}

@font-face{
    src: url("../fonts/Oxygen-Bold.ttf");
    font-family: "Oxygen-Bold";
    font-weight: bold;
}

header{
    background: #07889B 77%;
    width: 100vw;
    height: 20vh;    
}

h1, header {
    text-align: center;
}

#titulo{    
    font-size: 260%;    
    color: white;    
}

#logo{    
    width: 22vw;
    height: 22vh;
    clip-path: inset(0% 0% 16% 0%);
}

main {
    display: flex !important;
    height: 80vh;    
}

.titulo-pag {
    margin: 3vh 0;
}

.info {
    position: absolute;
    left: 0;
    width: 25vw;            
    text-align: justify;
    margin-left: 12vw;
}

.destaque {
    color: #DF660F;    
}

.precadastro {
    position: absolute;
    right: 0;
    margin-right: 12vw;
    width: 35vw;
    height: 60vh;        
}

#enviar{
    background-color:  #FA902E;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid  #DF660F;
    border-radius: 7px;
    padding: .5rem 1rem;
    margin-left: 30%;
    width: 30%;    
}

#nome, #email,  #area, #interesse{
    background-color: white;
    border: 2px solid #696969;
    border-radius: 7px;
    display: grid;
    margin: 5px 0px 10px 0px;
    width: 90%;
    height: 40px;
}

h6{
    margin-left: 7%;
}

#celular, #telefone, #cidade, #uf{
    background-color: white;
    border: 2px solid #696969;
    border-radius: 7px;
    margin: 5px 0px 10px 0px;
    display: grid;
    width: 80%;
    height: 40px;
}

label{
    font-size: large;
}

h1{
    color: #4F4F4F;        
}

@media (max-width: 400px){
    #logo{        
        width: 40%;
        height: 18%;
        left: 225px;          
    }

    #titulo{        
        font-size: 150%;
        margin-left: 30px;
        margin-top: 35px;        
    }

    #navbar{                
        height: 100px;        
    }
}