html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;   
    overflow: hidden; 
    background-color: #F8F8F8;   
    font-family: 'Oxygen', sans-serif; 
}

header{
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90.35deg, #2CA8BA 0.31%, #18ADC4 99.86%);
}

h1, header {
    text-align: center;
}

#titulo{    
    font-size: 260%;    
    color: white;    
}

#logo{    
    width: 22vw;
    height: 22vh;
    clip-path: inset(0% 0% 16% 0%);
}

main {
    display: flex !important;
    height: 80vh;    
}

.titulo-pag {
    margin: 1.2vh 0;
}

.info {
    width: 39vw;
    text-align: justify;
    margin-left: 6.8vw;
    margin-right: 5.2vw
}

.destaque {
    font-weight: bold;
    color: #DF660F;    
}

p {
    margin-block: 0;
    margin-inline: 0;   
}

.precadastro {    
    width: 40vw;    
    margin-right: 4.3vw;
    margin-left: 5.2vw;   
}

.check {
    font-size: .8rem;
}

#enviar{
    background-color:  #FA902E;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid  #DF660F;
    border-radius: 7px;    
    margin-left: 30%;
    width: 30%;    
}

.row {
    display: flex;
}

#nome, #email,  #area, #interesse{
    background-color: white;
    border: 2px solid #696969;
    border-radius: 7px;
    display: grid;
    margin: 5px 0px 10px 0px;
    width: 36vw;
    height: 5.1vh;
}

#interesse {
    width: 12vw;
    height: 3vh;
}

h6{
    margin-left: 7%;
}

#celular, #telefone, #cidade, #uf{
    background-color: white;
    border: 2px solid #696969;
    border-radius: 7px;
    margin: 5px 0px 10px 0px;
    display: grid;
    width: 17vw;
    height: 5.1vh;
}

select option {
    height: 4.8vh;
    width: 17.5vw;
}

#celular, #cidade {
    margin-right: 1.4vw;
}

label{
    font-size: 1.25rem;
    margin-bottom: 0 !important;
}

h1{
    color: #4F4F4F;        
}

@media (min-width: 1440px) {
    #logo {
        width: 18vw;
        height: 20.5vh;
    }
}

@media (max-width: 400px){
    #logo{        
        width: 40%;
        height: 18%;
        left: 225px;          
    }

    #titulo{        
        font-size: 150%;
        margin-left: 30px;
        margin-top: 35px;        
    }

    label{
        font-size: 1.2rem;
        margin-bottom: 0 !important;
    }

    #navbar{                
        height: 100px;        
    }
}