<section>
    <h2>Privacidade</h2>
    <article>
        <h3>1. Introdução</h3>
        <p>
            Somos uma rede social e plataforma online para pesquisadores. As pessoas usam nossos serviços para encontrar
            e serem encontradas oportunidades de negócios, para se conectar com outras pessoas e encontrar informações.
            Nossa Política de Privacidade se aplica a qualquer Usuário de nossos Serviços.<br />

            Nossos usuários registrados compartilham suas identidades profissionais, se envolvem com sua rede, trocam
            conhecimentos e percepções profissionais, postam e visualizam conteúdo relevante, aprendem e desenvolvem
            habilidades e encontram oportunidades de carreira e parcerias.
        </p>
    </article>

    <article>
        <h3>2. Serviços</h3>
        <p>
            Esta Política de Privacidade se aplica ao Bouman, ao uso de nossos serviços e serviços relacionados ao
            Bouman, incluindo serviços externos, como nossos serviços de mediação de pesquisador e instituição.
        </p>
    </article>

    <article>
        <h3>3. Mudanças</h3>
        <p>
            O Bouman (ou “nós”) podemos modificar esta Política de Privacidade e, se fizermos alterações materiais nela,
            avisaremos por meio de nossos Serviços, ou por outros meios, para fornecer a você a oportunidade de revisar
            as alterações antes que elas se tornem eficaz. Se você se opor a quaisquer alterações, você pode encerrar
            sua conta entrando em contato conosco.
        </p>
        <p>
            Você reconhece que o uso continuado de nossos Serviços após publicar ou enviar um aviso sobre
            nossasalterações a esta Política de Privacidade significa que a coleta, uso e compartilhamento de seus dados
            pessoais estão sujeitos à Política de Privacidade atualizada, a partir de sua data de vigência.
        </p>
    </article>

    <article>
        <h3>4. Dados que coletamos </h3>

        <section>
            <h4>4.1. Dados que você nos fornece</h4>
            <p>
                Você fornece dados para criar uma conta conosco.
            </p>

            <h5>4.1.1. Cadastro</h5>
            <p>
                Para criar uma conta, você precisa fornecer dados, incluindo seu nome, endereço de e-mail, área de
                atuação, data de nascimento, cidade, estado, senha e descrição. Com essas informações você cria conclui
                seu perfil no Bouman.
            </p>


            <h5>4.1.2. Perfil </h5>
            <p>
                Você tem opções sobre as informações em seu perfil, como educação, experiência profissional,
                habilidades, foto,
                cidade ou área e endossos. É sua escolha incluir informações confidenciais em seu perfil e torná-las
                públicas. Não poste ou adicione dados pessoais ao seu perfil que você não gostaria que estivessem
                disponíveis publicamente.
            </p>


            <h5>4.1.3. Postagem e upload </h5>
            <p>
                Coletamos seus dados pessoais quando você os fornece, publica ou carrega em nossos Serviços, você não
                precisa postar ou fazer upload de dados pessoais; embora se não o fizer, isso pode limitar sua
                capacidade de crescer e se envolver com sua rede por meio de nossos Serviços.
            </p>
        </section>

        <section>
            <h4>4.2. Dados de terceiros</h4>
            <p>
                Outros podem postar ou escrever sobre você.
            </p>

            <h5>4.2.1. Conteúdo e Notícias </h5>
            <p>
                Você e outras pessoas podem postar conteúdo que inclua informações sobre você (como parte de artigos,
                postagens, comentários, vídeos) em nossos Serviços.
            </p>
        </section>
    </article>

    <article>
        <h3>5. Como usamos seus dados</h3>

        <section>
            <h4>5.1. Serviços </h4>
            <p>
                Nossos serviços permitem que você fique em contato e atualizado com colegas, parceiros, clientes e
                outros contatos
                profissionais. Para isso, você pode se “conectar” com os profissionais que escolher e que também desejam
                se “conectar” com você. Sujeito às suas configurações e às configurações deles, quando você se conecta
                com outros membros, você será capaz de pesquisar as conexões uns dos outros para trocar experiências e
                oportunidades de carreira.

            </p>

            <p>
                Usamos dados sobre você (como seu perfil e a pesquisas) para ajudar outras pessoas a encontrar seu
                perfil, sugerir
                conexões para você e outros (por exemplo, membros que compartilham seus contatos ou áreas de interesse)
                e permite que você convide outras pessoas para se tornar um membro e se conectar com você.
            </p>
        </section>

        <section>
            <h4>5.2. Produtividade</h4>
            <p>
                Nossos serviços permitem que você se encontre com colegas, busque especialistas para seu projeto e
                troque
                experiências de trabalho. Nossos serviços permitem que você se comunique com outros membros.
            </p>
        </section>
    </article>

    <article>
        <h3>6. Conteúdo gerado pelo usuário </h3>
        <p>
            Versão curta: Você possui o conteúdo que você cria, mas nos concede determinados direitos a ele, para que
            possamos exibir e compartilhar o conteúdo que você publicar. Você ainda tem controle sobre seu conteúdo e
            responsabilidade por ele, e os direitos que você nos concede são limitados àqueles que precisamos para
            fornecer o serviço. Temos o direito de remover conteúdo ou fechar Contas se precisarmos.
        </p>

        <section>
            <h4>6.1. Responsabilidade pelo conteúdo gerado pelo usuário </h4>
            <p>
                Você pode criar ou fazer upload do conteúdo gerado pelo usuário usando o Serviço. Você é o único
                responsável pelo conteúdo e por qualquer dano resultante de qualquer conteúdo gerado pelo usuário que
                você publicar ou deixar disponível através do Serviço, independentemente da forma desse Conteúdo. Não
                somos responsáveis por nenhuma exibição pública ou uso indevido do seu Conteúdo Gerado pelo Usuário.
            </p>
        </section>

        <section>
            <h4>6.2. O Bouman pode remover conteúdo </h4>
            <p>
                Temos o direito de recusar ou remover qualquer Conteúdo Gerado por Usuário que, a nosso critério, viole
                quaisquer leis ou termos ou políticas do Bouman.
            </p>
        </section>

        <section>
            <h4>6.3. Propriedade do conteúdo, Direito de postar; Concessões de licença </h4>
            <p>
                Você mantém a propriedade e a responsabilidade pelo seu conteúdo. Você concorda que é responsável por
                qualquer conteúdo que você publique; que você só enviará Conteúdo que você tem o direito de publicar; e
                que você esteja em
                total conformidade com licenças de terceiros relacionadas ao Conteúdo que você publicar.
            </p>

            <p>
                Porque você retem a propriedade e a responsabilidade do seu conteúdo, precisamos que você nos conceda —
                e outros usuários do Bouman — certas permissões legais, listadas nas Seções abaixo. Estas concessões de
                licença se aplicam ao Seu Conteúdo. Se você fizer upload de Conteúdo que já vem com uma licença que
                concede ao Bouman as permissões que precisamos para executar nosso Serviço, nenhuma licença adicional é
                necessária. Você compreende que não receberá nenhum pagamento por qualquer um dos direitos concedidos
                nas Seções abaixo. As licenças que você nos concede terminarão quando você remover Seu Conteúdo de
                nossos servidores.
            </p>

            <h5>6.3.1. Concessão de licença para nós </h5>
            <p>
                Precisamos do direito legal para fazer coisas como hospedar Seu Conteúdo, publicá-lo, e compartilhá-lo.
                Você concede a nós e aos nossos sucessores legais o direito de armazenar, arquivar, analisar e exibir
                Seu Conteúdo, e fazer cópias eventuais, conforme necessário, para fornecer o Serviço, incluindo o
                melhoramento do Serviço ao longo do tempo. Esta licença inclui o direito de fazer coisas como copiá-lo
                para a nossa base de dados e fazer backups; mostrá-lo para você e para outros usuários; analisá-lo em um
                índice de pesquisa ou analisá-lo em nossos servidores; compartilhá-lo com outros usuários; e executá-lo,
                no caso de Seu Conteúdo ser algo como música ou vídeo.
            </p>

            <p>
                Esta licença não concede ao Bouman o direito de vender Seu Conteúdo. Isso também não concede ao Bouman o
                direito de distribuir ou utilizar o Seu Conteúdo fora da nossa prestação do Serviço.
            </p>

            <h5>6.3.2. Concessão de licença a outros usuários </h5>
            <p>
                Qualquer Conteúdo gerado pelo Usuário que você publicar publicamente, incluindo comentários para as
                publicações de outros Usuários, podem ser vistos por outros. Definindo seus artigos como públicos também
                serão vistos publicamente.
                Ao definir os seus artigos como publicações, você concede aos Usuário do Bouman uma licença mundial não
                exclusiva para uso e exibição de Seu Conteúdo através do Serviço Bouman. Se você está fazendo upload do
                Conteúdo que você não criou ou possui, você é responsável por garantir que o Conteúdo que você faz o
                upload é licenciado em termos que concedem essas permissões a outros Usuários do Bouman.
            </p>
        </section>
    </article>

    <article>
        <h2>7. Direitos Morais </h2>
        <p>
            Você mantém todos os direitos morais do Seu Conteúdo que você faz upload, publica ou envia em qualquer parte
            do Serviço, incluindo os direitos de integridade e atribuição. No entanto, você renuncia a esses direitos e
            concorda em não fazê-los valer contra nós, no intuito de permitir que exerçamos razoavelmente os direitos
            concedidos, mas não de outra maneira.
        </p>
        <p>
            Na medida em que este contrato não é aplicável pela legislação aplicável, você concede ao Bouman os direitos
            que precisamos para usar Seu Conteúdo sem atribuição e fazer adaptações razoáveis do Seu Conteúdo conforme
            necessário para renderizar o Site e fornecer o Serviço.
        </p>
    </article>

    <article>
        <h2>8. Projeto privados </h2>
        <p>
            Versão curta: Tratamos o conteúdo de projetos privados como confidencial, e só o acessamos conforme descrito
            na nossa Declaração de Privacidade — para fins de segurança, para auxiliar o proprietário do projeto com uma
            questão de suporte, para manter a integridade do Serviço, cumprir as nossas obrigações legais, se tivermos
            motivos para acreditar que o conteúdo está em violação da lei, ou com o seu consentimento.
        </p>

        <section>
            <h3>8.1. Controle de Projetos Privados </h3>
            <p>
                Algumas Contas podem ter projetos privados, que permitem ao Usuário controlar o acesso ao Conteúdo.
            </p>
        </section>

        <section>
            <h3>8.2. Confidencialidade dos Projetos Privados </h3>
            <p>
                O Bouman considera o conteúdo de projetos privados como confidencial para você. O Bouman protegerá o
                conteúdo de projetos privados de uso, acesso ou divulgação não autorizados da mesma forma que
                utilizaríamos para proteger nossas próprias informações confidenciais de natureza semelhante e, em todo
                caso, com um grau de cuidado razoável.
            </p>
        </section>

        <section>
            <h3>8.3. Acesso </h3>
            <p>
                A equipe do Bouman só pode acessar o conteúdo dos seus projetos privados nas situações descritas em
                nossa Declaração de Privacidade, mas em condições normais o Bouman irá tratar todo o seu arquivo como
                confidencial. Além disso, podemos ser obrigados, por lei, a divulgar o conteúdo de seus projetos
                privados.
            </p>
        </section>
    </article>

    <article>
        <h2>9. Direitos Autorais </h2>

        <section>
            <h4>9.1. Reclamações sobre o conteúdo postado no site do Bouman </h4>
            <p>
                O Bouman respeita os direitos de propriedade intelectual de terceiros e deseja oferecer uma plataforma
                que não contenha conteúdo que viole esses direitos. Nosso Acordo de Usuário exige que as informações
                postadas pelos Usuários
                sejam precisas, legais e não violem os direitos de terceiros. Para promover esses objetivos, o Bouman
                oferece um processo para envio de reclamações relacionadas ao conteúdo postado por nossos usuários.
                Nossa política e procedimentos são descritos e / ou referenciados nas seções a seguir.
            </p>
            <p>
                Observe que, independentemente de desabilitarmos ou não o acesso ou removermos o conteúdo, o Bouman pode
                fazer uma tentativa de boa fé para encaminhar a notificação por escrito, incluindo as informações de
                contato do reclamante, ao Usuário que postou o conteúdo e / ou tomar outras medidas razoáveis ​​para
                notificar o Usuário que o Bouman recebeu notificação de uma alegada violação dos direitos de propriedade
                intelectual ou outra violação de conteúdo. Também é nossa política, em circunstâncias apropriadas e a
                nosso critério, desabilitar e / ou encerrar as contas de Usuários, ou grupos conforme o caso, que
                infringem ou repetidamente violam os direitos de terceiros ou postam conteúdo ilegal.
            </p>
            <p>
                Observe que qualquer alegação ou contra-alegação enviada deve ser verdadeira e deve ser enviada sob pena
                de perjúrio. Uma falsa alegação ou contra-alegação pode dar origem a responsabilidades pessoais.
                Portanto, você pode procurar aconselhamento jurídico antes de enviar uma alegação ou contra-alegação.
            </p>
        </section>

        <section>
            <h4>9.2. Reclamações sobre violação de direitos autorais </h4>
            <p>
                Através do e-mail bouman.equipe@gmail.com o bouman poderá fornecer os dados privados de um projeto caso
                haja uma violação de direitos que um usuário cometeu a um agente penal que solicite, isso após
                analisarmos as alegações violações de direitos autorais e cumpra os requisitos abaixo:
            </p>

            <ul>
                <li>
                    Uma assinatura eletrônica ou física da pessoa autorizada a agir em nome do proprietário dos direitos
                    autorais;
                </li>
                <li>
                    Uma descrição do trabalho protegido por direitos autorais que você alega ter sido violado;
                </li>
                <li>
                    Uma descrição especificando a localização em nosso site do material que você alega estar em
                    violação;
                </li>
                <li>
                    Seu endereço de e-mail e seu endereço de correspondência e / ou número de telefone;
                </li>
                <li>
                    Uma declaração sua de que você acredita de boa fé que o uso contestado não foi autorizado pelo
                    proprietário dos direitos autorais, seu agente ou pela lei;
                </li>
                <li>
                    Uma declaração sua, feita sob pena de perjúrio, de que as informações em sua notificação são
                    precisas e que você é o proprietário dos direitos autorais ou está autorizado a agir em nome do
                    proprietário dos direitos autorais.
                </li>
            </ul>

            <p>
                Se você acredita que um aviso de violação de direitos autorais foi enviado indevidamente contra você,
                você pode enviar uma contra-alegação, você deve enviar um email de contra-alegação ao e-mail
                bouman.equipe@gmail.com que contenha as mesmas especificações da contra-alegação.<br />
                Se você acredita que o conteúdo em nosso site viola seus direitos autorais, por favor, entre em contato
                conosco. Se você é um proprietário de direitos autorais e acredita que o conteúdo no Bouman viola seus
                direitos, por favor, entre em contato conosco envie-nos pelo e-mail bouman.equipe@gmail.com. Poderá
                haver consequências jurídicas para o envio de um aviso de remoção falso ou leviano. Antes de enviar uma
                solicitação de remoção, você deve considerar usos legais, tais como uso justo e usos licenciados.
            </p>

            <p>
                Nós encerraremos as Contas de infratores reiterados desta política.
            </p>
        </section>
    </article>

    <article>
        <h2>10. Avisos de Propriedade Intelectual </h2>
        <p>
            Versão curta: Nós somos proprietários do serviço e de todo o nosso conteúdo. Para que você use nosso
            conteúdo, nós
            lhe damos certos direitos relativos a ele, mas você só pode usar nosso conteúdo da forma que permitimos.
        </p>

        <section>
            <h3>10.1. Direitos do Bouman ao conteúdo </h3>
            <p>
                O Bouman e seu código fonte está publicado sob a licença "Creative Commons
                Attribution-NonCommercial-ShareAlike
                4.0 International Public License", e uma cópia pode ser acessada <a href="/terms/license"
                    target="_blank">aqui</a>
            </p>
        </section>
    </article>
</section>