rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /Users/{userId} {
        allow create: if request.auth != null;

        allow read: if request.auth != null;
        
        allow update, delete: if request.auth != null &&
        request.auth.uid == userId;
      
        match /Projects/{docId} {
          allow create, update, delete: if request.auth != null &&
          request.auth.uid == userId &&
          request.resource.data.ownerId == userId;

          allow read: if request.auth != null;
        }
    	}
    
  }
}