rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /profile-pictures/{docId} {
    	allow create: if request.auth != null;

      allow read: if request.auth != null;
        
      allow update, delete: if request.auth != null &&
      request.auth.uid == docId;
    }
    
    match /wallpaper-pictures/{docId} {
    	allow create: if request.auth != null;

      allow read: if request.auth != null;
      allow update, delete: if request.auth != null &&
      request.auth.uid == docId;
    }

  }
}
