.content {
  display: flex;
  flex-direction: column;
}

.content h1 {
  font-size: 3.5rem;
  font-weight: bold;

  text-align: center;

  color: #5a5a5a;
}

span{
  font-weight: lighter;
  font-size: 1.3rem;
  padding: 2%;
}

.profile-conf {
  width: 708px;
  height: 70vh;

  background: #fa902e;
  border-radius: 20px;

  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));

  margin: 0 auto;
  padding: 0 6rem;
}

.profile-conf .bouman-form {
  display: flex;
  flex-direction: column;
}

.profile-conf h3 {
  padding-left: 8px;

  font-size: 32px;
  font-weight: bold;

  text-align: start;

  color: #ffffff;
}

.profile-conf hr {
  margin: 1rem 0;
}

.profile-conf label {
  font-size: 1.8rem;
}
.profile-conf #profile-label{
  margin-top: 20px;
}

.profile-conf textarea {
  width: 100%;
  height: 12vh;
  background-color: rgb(245, 248, 250);
  border: 1px solid rgb(211, 226, 229);
  border-radius: 20px;
  padding: 8px;
  resize: none;
}

.profile-conf input{
  margin-right: 5%;
}

.profile-conf select {
  width: 100%;
  height: 7vh;
  background-color: rgb(245, 248, 250);
  border: 1px solid rgb(211, 226, 229);
  border-radius: 20px;
  padding: 8px;
}

.profile-conf button {
  width: 35%;
  height: 7.75vh;

  display: block;

  margin: 3rem auto 1.2rem auto;

  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;

  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
