.container {
  display: flex;
  flex-direction: column;
}

.container span.title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1%;

  color: #5a5a5a;
  margin: 2vh 0;
}

.bouman-form span.form-title {
  font-size: 1.4rem;

  text-align: start;
  padding-left: 1%;

  color: #ffffff;
}

label.profile-label > span {
  font-weight: lighter;
  font-size: 0.6rem;
  padding-left: 1vw;
}

hr {
  margin: 1rem 0;
}

.bouman-form {
  width: 100%;
  height: fit-content;

  background: #fa902e;
  border-radius: 20px;

  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));

  margin: 0 auto;

  padding: 3% 4% 3% 4%;
}

.bouman-form label {
  font-size: 1rem;
}

.bouman-form textarea {  
  height: 12vh;  
  border: 1px solid rgb(211, 226, 229);  
  resize: none;
}

.bouman-form select, input {
  border: 1px solid rgb(211, 226, 229);
}

.bouman-form button {

  display: block;

  margin: 2vh auto 0 auto;

  font-size: 1.4rem;
  color: #ffffff;

  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bouman-form input.ng-invalid.ng-touched {
  border-color: darkred;
  background-color: rgb(255, 158, 158);
}

@media (min-width: 768px) {
  
  .container span.title {
    font-size: 1.8rem;
    margin-bottom: 2vh;
  }
  
  .bouman-form span.form-title {
    font-size: 1.6rem;
  }

  .bouman-form label {
    font-size: 1.2rem;
  }
  
  label.profile-label > span {    
    font-size: 0.8rem;    
  }
  
  hr {
    margin: 0.5rem 0;
  }

}

@media (min-width: 1400px) {

  .container span.title {
    font-size: 2rem;
    margin: 0;
  }
  
  .bouman-form span.form-title {
    font-size: 1.8rem;
  }

  .bouman-form label {
    font-size: 1.4rem;
  }
  
  label.profile-label > span {    
    font-size: 0.8rem;
  }
  
  hr {
    margin: 1rem 0;
  }

}
