<!-- Secondary header, for not logged users -->
<secondary-header></secondary-header>

<div class="container">
    <div class="row">        
        <div class="col-sm-1 col-md-2 col-lg-3"></div>

        <!-- Page title -->
        <!--<div class="col-sm-10 col-md-8 col-lg-6">
            <span class="title">Comece configurando seu perfil</span>
        </div>-->
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="bouman-form form-group">
                <!-- Help text -->
                <span class="form-title">Comece configurando o seu perfil</span>
                <hr>
                <!-- Form to finish profile data adding -->
                <form #configForm [formGroup]="formConfig" (ngSubmit)="onSign(formConfig)">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="profile-about" class="profile-label">Sobre<span>Máximo de 300
                                    caracteres</span></label>
                            <textarea name="about" id="profile-about" maxlength="300" minlength="15"
                                placeholder="Descreva um pouco de quem você é e do seu trabalho para a comunidade."
                                name="desc" class="form-control" required formControlName="about" 
                                [ngClass]="{ 'is-invalid': f.about.errors && f.about.touched}">
                                </textarea>
                            <p *ngIf="f.about.errors && f.about.touched" class="invalid-feedback">Por favor, insira pelo menos
                                15 caracteres.
                            </p>
                        </div>
                    </div>
                    <div class="row" *ngIf="collection=='Users'">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="profile-area" class="profile-label">Área de Atuação</label>
                            <select class="bouman-select form-control" name="area" placeholder="Selecione uma área"
                            (change)="getSubareas()" formControlName="area" [ngClass]="{ 'is-invalid': f.area.errors && f.area.touched}">
                                <option *ngFor="let area of areas" [value]="area.value">
                                    {{ area.name }}
                                </option>
                            </select>
                            <p *ngIf="f.area.errors && f.area.touched" class="invalid-feedback">
                                Por favor, selecione uma área de atuação.
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="profile-subarea" class="profile-label">Subárea de atuação</label>
                            <select class="bouman-select form-control" name="subarea" placeholder="Selecione uma cidade" formControlName="subarea" [ngClass]="{ 'is-invalid': f.subarearrors && f.subarea.touched}">
                                <option *ngFor="let subarea of subareas" [value]="subarea.value">
                                    {{ subarea.name }}
                                </option>
                            </select>
                            <p *ngIf="f.subarea.errors && f.subarea.touched" class="invalid-feedback">
                                Por favor, selecione uma subárea de atuação.
                            </p>
                        </div>
                    </div>
                    <div class="row" *ngIf="collection=='Users'">
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <label for="profile-uf" class="profile-label">UF</label>
                            <select class="bouman-select form-control" name="state" placeholder="Selecione um estado"
                                (change)="fillCities()" required formControlName="state"
                                [ngClass]="{ 'is-invalid': f.state.errors && f.state.touched}">
                                <option *ngFor="let state of states" [value]="state.id">{{ state.sigla }}</option>
                            </select>
                            <p *ngIf="f.state.errors && f.state.touched" class="invalid-feedback">
                                Por favor, selecione um Estado.
                            </p>
                        </div>
                        <div class="col-md-1 col-lg-1"></div>
                        <div class="col-sm-12 col-md-7 col-lg-7">
                            <label for="profile-city" class="profile-label">Cidade</label>
                            <select class="bouman-select form-control" name="city"
                                placeholder="Selecione uma cidade" required formControlName="city"
                                [ngClass]="{ 'is-invalid': f.city.errors && f.city.touched}">
                                <option *ngFor="let city of cities" [value]="city.id">{{ city.nome }}</option>
                            </select>
                            <p *ngIf="f.city.errors && f.city.touched" class="invalid-feedback">
                                Por favor, selecione uma cidade.
                            </p>
                        </div>
                    </div>
                    <div class="row" *ngIf="collection=='Users'">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <label for="profile-date" class="profile-label">Data de nascimento</label>
                            <input type="date" name="date" id="bouman-input" class="form-control" required
                                formControlName="birth" [ngClass]="{ 'is-invalid': f.birth.errors && f.birth.touched}">
                            <p *ngIf="f.birth.errors && f.birth.touched" class="invalid-feedback">Por favor, informe uma data
                                válida.
                            </p>
                        </div>
                        <div class="col-md-6"></div>
                    </div>

                    <button type="submit" class="btn" [disabled]="!formConfig.valid" *ngIf="collection=='Users'">Confirmar</button>
                    <button type="submit" class="btn" [disabled]="!f.about.valid" *ngIf="collection!='Users'">Confirmar</button>
                </form>
            </div>

            <!-- Error messsage -->
            <div *ngIf='messageError'>
                <div class="alert alert-danger" role="alert">
                    {{messageError}}
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
</div>