.container{
  display: flex;
  flex-direction: column;
}

/*.bouman-form {
  display: flex;
  flex-direction: column;
}*/

.container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2%;
  text-align: center;

  color: #5a5a5a;
}

.bouman-form h3 {
  font-size: 2.8rem;
  font-weight: bold;

  text-align: start;
  padding-left: 1%;

  color: #ffffff;
}

span{
  font-weight: lighter;
  font-size: 1.3rem;
  padding-left: 1vw
}

hr {
  margin: 1rem 0;
}

.bouman-form {
  width: 100%;
  height: fit-content;

  background: #fa902e;
  border-radius: 20px;

  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));

  margin: 0 auto;

  padding: 3% 4% 3% 4%;
}

.bouman-form label {
  font-size: 1.8rem;
}

.profile-label{
  margin-top: 2vh;
}

.bouman-form textarea {
  width: 100%;
  height: 12vh;
  background-color: rgb(245, 248, 250);
  border: 1px solid rgb(211, 226, 229);
  border-radius: 20px;
  resize: none;
}

.bouman-form select, input {
  width: 100%;
  height: 5vh;
  background-color: rgb(245, 248, 250);
  border: 1px solid rgb(211, 226, 229);
  border-radius: 20px;
}

.bouman-form button {
  width: 50%;
  height: 6vh;

  display: block;

  margin: 3% auto 2% auto;

  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;

  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.bouman-form input.ng-invalid.ng-touched {
  border-color: darkred;
  background-color: rgb(255, 158, 158);
}
