nav.navbar {
  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  border: none;
  border-radius: 0;
  margin-bottom: 5vh;
}

nav .container-fluid .navbar-header {
  display: flex;
  align-items: center;

  margin: 0;
}

a.navbar-brand > img {
  display: none;

  width: 64px;
  height: 32px;
}

input {
  width: 312px;
  height: 42.14px;

  background: #ffffff;
  border: 1px solid #5c5c5c;
  box-sizing: border-box;
  border-radius: 8px;

  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

input::placeholder {
  color: #fa902e;
}

.nav > li > a > img {
  width: 35px;
  height: 35px;

  margin-right: 10px;
}

.navbar .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #fefefe;
}

.navbar .navbar-nav > li > a {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-default .navbar-toggle {
  border-color: #fa902e;
  background-color: white;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #fa902e;
}

a.navbar-brand {
  padding-top: 10px;
  padding-left: 10px;
}

.navbar .navbar-nav > li > a#navbarDropdown {
  flex-direction: row !important;
  padding-right:4.4vw;
}

.nav-item.dropdown a.dropdown-toggle img#profile-picture {
  width: 48px;
  height: 48px;

  border: 1px solid #5c5c5c;
  border-radius: 32px;
}

input {
  width: 65vw;
  max-width: 300px;
  height: 42.14px;

  background: #ffffff;
  border: 1px solid #5c5c5c;
  box-sizing: border-box;
  border-radius: 8px;

  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

input::placeholder {
  color: #fa902e;
}

.navbar-nav {
  display: flex;
  flex-direction: column;

  align-items: center;
}

li {
  padding-right: 15px;
}

li.profile-item {
  display: flex;
  align-items: center;

  width: 64px;
  height: fit-content;
}

a {
  text-decoration: none;
  text-align: center;

  color: black;
}

@media (min-width: 768px) {
  nav .container-fluid .navbar-header {
    display: flex;
    align-items: baseline;
  }

  a.navbar-brand > img {
    display: block;

    width: 80px;
    height: 45px;

    margin: 10px;
  }

  .nav > li > a > img {
    width: 35px;
    height: 35px;

    margin-right: 0;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar .navbar-nav > li > a {
    display: flex;
    flex-direction: column;
  }
}
