nav.navbar {
  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  border: none;
  border-radius: 0;
  margin-bottom: 5vh;
}

nav .navbar-header {
  display: flex;
  align-items: center;

  margin: 0;
}

a.navbar-brand > img {
  display: none;

  width: 64px;
  height: 32px;
}

.form-group {
  margin: 0;
}

input {
  color: #fa902e !important;
}

.nav > li > a > img {
  width: 35px;
  height: 35px;

  margin-right: 10px;
}

.navbar .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #fefefe;
}

.navbar .navbar-nav > li > a {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-default .navbar-toggle {
  border-color: #fa902e;
  background-color: white;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #fa902e;
}

a.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav > li > a#navbarDropdown {
  flex-direction: row !important;
  padding-right: 4.8vw;
}

.nav-item.dropdown a.dropdown-toggle img#profile-picture, .dropdown .dropdown-content img#profile-picture {
  width: 48px;
  height: 48px;

  border: 1px solid #5c5c5c;
  border-radius: 32px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;

  align-items: center;
}

li {
  padding-right: 15px;
}

li.profile-item {
  display: flex;
  align-items: center;

  width: 64px;
  height: fit-content;
}

a {
  text-decoration: none;
  text-align: center;

  color: black;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 130%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 100%;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1%;
  margin-bottom: 1%;

  padding: 0 3rem 0 1rem;

  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;  
}

.dropdown-content a span{
  padding-left: 3%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

@media (min-width: 768px) {
  nav .navbar-header {
    display: flex;
    align-items: center;
  }

  a.navbar-brand > img {
    display: block;

    width: 80px;
    height: 45px;

    margin: 10px;
  }

  .nav > li > a > img {
    width: 35px;
    height: 35px;

    margin-right: 0;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar .navbar-nav > li > a {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 768px) {
  .dropdown {
    width: 50%;
  }
}