<!-- Header for logged user -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Header with logo and toggle hbg button -->
    <div class="navbar-header">        
        <a class="navbar-brand">
            <img src="/assets/logo.png" alt="Logo Bouman">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
    </div>

    <!-- Header main content -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

        <!-- Links to pages -->
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/feed">
                    <img src="/assets/home.svg" alt="Página Inicial">
                    Início
                </a>
            </li>
            <li *ngIf="isCompany === false">
                <a routerLink="/projects/overview">
                    <img src="/assets/testplan.svg" alt="Seus projetos">
                    Projetos
                </a>
            </li>
            <li *ngIf="isCompany === true">
                <a routerLink="/edicts">
                    <img src="/assets/edict.svg" alt="Seus projetos">
                    Editais
                </a>
            </li>            
        </ul>

        <!-- Search input -->
        <form #form="ngForm">
            <div class="form-group">
                <div class="dropdown">
                        <input type="search" class="form-control" placeholder="Procure um perfil aqui" [(ngModel)]="search" (ngModelChange)="searching()" (focus)="togglesearch()" (blur)="togglesearch()" name="searchParam" (keydown)="onSendSearch($event)">
                        <div *ngIf='searchResult[0] != undefined' class="dropdown-content" id="search" [ngStyle]="{ 'display': search ? 'block' : 'none'}">
                            <a  href="#" *ngFor="let prof of searchResult" [routerLink]="['/profiles', prof.id]" (click)="toggleSearchClick()">
                                <img id="profile-picture" [src]="prof.picture">
                                <span>{{prof.name}}</span>
                            </a>
                        </div>
                        <div class="dropdown-content noresultsdiv" id="search" [ngStyle]="{ 'display': search ? 'block' : 'none'}" *ngIf='searchResult[0] == undefined'>
                            <span>Nenhum resultado encontrado</span>
                        </div>
                </div>
            </div>
        </form>

        <!-- Toggle menu from profile image -->
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="profileImg" alt="Seu perfil" id="profile-picture">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="nav-item"><a [routerLink]="['/profiles', profileId]" class="nav-link">Perfil</a></li>
                    <li class="nav-item"><a routerLink="/profile-config" class="nav-link">Configurações</a></li>
                    <li class="nav-item"><a routerLink="/support" class="nav-link">Apoio</a></li>
                    <!-- <li class="nav-item"><a class="nav-link">Suporte</a></li> -->
                    <li class="nav-item"><a routerLink="/signup" (click)='logOut()' class="nav-link">Sair</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
