textarea {        
    width: 65.5%;
    height: 65vh;
    max-height: 65vh;

    resize: none;

    margin-top: 2%;
}

.people-list-div img {
    width: 20%;
    height: 100%;
    border-radius: 50%;
    margin-right: 10%;
}

.list-group-item a {
    color: black;
}