.card {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    margin-bottom: 5vh;

    border: none;
}

.card .card-header {    
    display: flex;
    align-items: center;

    height: 2.25rem;

    padding-left: 0.625rem;

    background: #FFFFFF;

    border: 2px solid #FA902E;
    border-radius: 4px 4px 0 0;

    font-weight: bold;    
    font-size: 0.85rem;
    color: #DF660F;
}

.card .profile-details {
    display: flex;    
}

.card .profile-details img {
    position: relative;
    width: 4rem;
    height: 4rem;

    border: 1px solid #000000;
    border-radius: 4rem;

    margin: 0 3% 3% 0;
}

.card .profile-details .profile-info {
    display: flex;
    flex-direction: column;

    font-weight: bold;
    font-size: 1rem;
}

.card .profile-details .profile-info span {
    font-size: 0.75rem;

    font-weight: normal;

    color: #A4A4A4;
}

.card .card-body .card-text .publication-picture {
    width: 280px;
    height: 165px;

    margin: 1rem;
}

.card .card-body .card-text span {
    margin-left: 0.4rem;
    color: #185c66;
    cursor: pointer;
}

.card .card-body button#clear-btn {
    background-color: transparent;
    border: none;
}

.card .card-footer {
    display: flex;

    padding: 0.25rem 1.5rem;

    justify-content: space-between;

    background-color: #FA902E;
}

.card .card-footer .btn.btn-default {
    color: white;
    font-weight: bold;
}

.card .card-footer .btn.btn-default.is-applied {
    color: #FA902E;
    background-color: white;
}

.card .card-footer img {
    margin: 0 1rem;
}
