<!-- <app-header></app-header>
<div class="container">
    <div class='row justify-content-center align-items-start'>

    <div class="profile-content">
        <publication-card></publication-card>
    </div>    
</div> -->

<app-header></app-header>

<div class="row justify-content-center align-items-start">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <profile-card></profile-card>
    </div>
</div>

<div class="container">        
    <div class="profile-content">
        <!-- <publication-card></publication-card> -->
    </div>
</div>