.container {
    display: flex;    
}

.profile-content {
    margin-top: 5%;
}
.theresnothing{
    font-style: inherit;
    font-size: 200%;
    font-family:monospace;
    text-align: center;
}
.projects{    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}