<!-- Project card -->
<div class="card">
    <!-- Project content and user data -->
    <div class="card-body">
        <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11">
                <div class="profile-details">
                    <!-- User informations -->
                    <img [src]="profileImg" target="_blank" [routerLink]="['/profiles/', profileId]" alt="Foto de Perfil" class="profile-picture">
                    <div class="profile-info">
                        <a target="_blank" [routerLink]="['/profiles/', profileId]"> {{ profileName }} </a>
                        <span>{{ project.publishedAt.seconds * 1000 | date: 'd MMM yy'}} </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1" style="padding: 0;">
                <img src="../../../../assets/trash.png" (click)="deletePost()" alt="Deletar">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1> {{ project.title }} </h1>
            </div>
            <div class="card-body">
                <!-- Project text with text limiting pipe -->
                <div class="card-text">
                    <div id="div-to-render"></div>
                    <span [hidden]="project.content.length < limit" (click)="showMore()">+ ver {{ sMDisabled ? 'menos' :
                        'mais' }}</span>
                </div>
            </div>
        </div>
        <span class="badge badge-info keywords" *ngFor="let keyword of project.keywords"> {{ keyword }} </span>
    </div>
    <div class="card-footer" *ngIf='profileId != userProfile'>
        <!-- This should be commented out when interactions are implemented -->
        <button class="btn btn-default" (click)="onLikePost(project)" id="likeButtonProject">
            <span> {{ project.likes.length }} </span> <img src="/assets/like-gray.svg" alt="Curtir">Curtir
        </button>
    </div>

    <!-- <button class="btn btn-default">
            <img src="/assets/comment-gray.svg" alt="Comentar">Comentar
        </button>

        <button class="btn btn-default">
            <img src="/assets/share-gray.svg" alt="Compartilhar">Compartilhar
        </button> -->
</div>