/* You can add global styles to this file, and also import other style files */
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    box-shadow: none;
}
input, select, textarea{
    padding: 2%;
}