<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 aside-content">
        <button class="btn btn-bouman-secondary">Visualizar projeto</button>
        
        <strong>Capítulos: </strong>

        <div class="list-group" role="tablist" #articleStructure>
            <div class="list-group-item" data-toggle="list">
                Introdução
            </div>
            <div class="list-group-item" data-toggle="list">
                Objetivos
            </div>
            <div class="list-group-item" data-toggle="list">
                Metodologia
            </div>
            <div class="list-group-item" data-toggle="list">
                Resultados
            </div>
            <div class="list-group-item" data-toggle="list">
                Considerações
            </div>
            <div class="list-group-item" data-toggle="list">
                Referências
            </div>
        </div>
    </div>    
    
    <div class="col-sm-6 col-md-6 col-lg-6">
        <!-- Project form -->
        <form (ngSubmit)="onSubmit()" #projForm="ngForm">
            <!-- Project informations -->
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5 col-md-6 col-lg-8">
                        <input type="text" class="form-control" placeholder="Nome do seu projeto" name="title"
                            [(ngModel)]="projTitle">
                    </div>
                    <div class="col-sm-7 col-md-6 col-lg-4">
                        <button class="btn btn-outline-success" type="submit">Salvar</button>
                        <button class="btn btn-danger" type="button" (click)="deleteProject()"
                            [ngStyle]="{'display': newProj ? 'none' : 'inline-block' }">Excluir</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <!-- Text editor -->
                        <editor apiKey="o3i6lurtf2tfz1lcc7x48d1kyium2fjgo3fjsgz5utdjm5hu" [init]="{
                        height: 500,
                        menubar: false,
                        plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                        ],
                        toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help',
                        language: 'pt_BR',
                        directionality : 'ltr'
                    }" [(ngModel)]="editorText" name="content">{{ editorText }}</editor>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <!-- Navigate page and contributors -->
    <div class="col-sm-3 col-md-3 col-lg-3 aside-content">
        <button class="btn btn-bouman" (click)="myProjects()">Meus projetos</button>

        <span>Pessoas neste projeto: </span>
        <div class="list-group">
            <div class="list-group-item">
                Você
            </div>
        </div>

    </div>
</div>