article header {
    padding: 1rem 5rem;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
}

article {
    padding: 1rem 5rem;
}

section p {
    text-align: justify;
}

article section {
    padding: 0;
}

section article {
    margin: 1rem 0;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 0.8rem 0;
}
