<p>terms works!</p>

 
<h1>Sobre</h1> 

<p>O Bouman é uma rede social para pesquisadores científicos se encontrarem e trocarem experiências de trabalho</p>  

<h1>Visão</h1> 

<p>Conectar os pesquisadores brasileiros e permitir um melhor para o desenvolvimento científico no Brasil</p>  

<h1>Missão</h1> 

<p>Auxiliar os pesquisadores brasileiros com o desenvolvimento e visibilidade para seus projetos científicos.</p>

<h1>Quem somos nós?</h1> 

<p>O Bouman começou da ideia de um grupo de amigos de auxiliar o setor científico brasileiro após observar a situação do setor na época da pandemia do Covid-19 em 2020.</p>

<h1>Sobre 2</h1> 

<p>Nós usamos esses termos básicos em todo o contrato, e eles têm significados específicos. Você deve saber o que queremos dizer quando usamos cada um dos termos. Não vamos aplicar um teste sobre isso, mas ainda assim, são informações úteis.</p>

<p>Uma "Conta" representa seu vínculo com o Bouman. Uma "Conta de Usuário" representa uma autorização individual de um Usuário para entrar e usar o Serviço e serve como identidade do Usuário no Bouman. “Grupos” são espaços de trabalho compartilhados que podem estar associados a uma única entidade ou a um ou mais Usuários em que vários Usuários podem colaborar em vários projetos de uma só vez. Uma Conta de Usuário pode ser um integrante de um número qualquer de Grupos. 

O "Contrato" refere-se, coletivamente, a todos os termos, condições, avisos contidos ou referenciados neste documento “Termos de Serviço” e todas as outras regras operacionais, políticas e procedimentos que podemos publicar de vez em quando no Site. A maioria das nossas políticas de site está disponível em bouman.com/site-policy. 

"Conteúdo" refere-se ao conteúdo em destaque ou exibido através do Site, incluindo sem código de limitação, texto, dados, artigos, imagens, fotografias, gráficos, recursos e outros materiais que estão disponíveis no Site ou disponíveis através do Serviço. "Conteúdo" também inclui Serviços. O "Conteúdo Gerado pelo Usuário" é Conteúdo, escrito ou não, criado ou carregado pelos nossos Usuários. "Seu conteúdo" é o Conteúdo que você cria ou possui. 

"Bouman" e "nós" referem-se à Equipe Bouman. 

O "Serviço" refere-se ao software, produtos e serviços fornecidos pelo Bouman. 

"O Usuário", "Você", e "Seu", referem-se à pessoa individual, empresa ou grupo que tenha visitado ou esteja usando o Site ou Serviço; que acessa ou utiliza qualquer parte da Conta; ou que gerencia o uso da Conta no desempenho de suas funções. O Usuário deve ter pelo menos 14 anos de idade. Termos especiais podem se aplicar para Contas de empresa ou do governo (Veja em Termos Adicionais). 

O "Site" refere-se ao site do Bouman localizado em bouman.com e todo o conteúdo, serviços e produtos fornecidos pelo Bouman no ou através do Site. Ele também se refere a subdomínios do Bouman. Ocasionalmente, sites pertencentes ao Bouman podem fornecer termos de serviço diferentes ou adicionais. Se esses termos adicionais entram em conflito com este Contrato, os termos mais específicos se aplicam à página ou serviço relevante. 
</p>
 

<h1>Termos de conta</h1> 

<p>Resumo: Uma pessoa precisa criar sua Conta; você deve ter 14 anos ou mais; deve fornecer um endereço de e-mail válido e não pode ter mais de uma Conta gratuita. Você é o único responsável por sua Conta e tudo o que acontece enquanto você estiver logado ou usando sua Conta. Você é responsável por manter sua Conta segura. 
</p>
 

<h2>1. Controles da conta</h2> 

<p>Usuários. Sujeito a estes Termos, você mantém o controle administrativo final sobre sua Conta de Usuário e o Conteúdo dentro dela. 
</p>
 

<h2>2. Informações obrigatórias</h2> 

<p>Você deve fornecer um endereço de e-mail válido para concluir o processo de inscrição. 

Nome, área de atuação, data de nascimento, cidade, estado, senha e descrição. 
</p>
 

<h2>3. Requisitos da conta</h2> 

<p>Temos algumas regras simples para Contas de Usuário no Serviço do Bouman. 
 

Você deve ser uma pessoa para criar uma Conta. Contas registradas por "bots" ou outros métodos automatizados não são permitidas.  

Uma pessoa ou entidade legal não pode manter mais de uma Conta gratuita  

Você deve ter 14 anos ou mais. Embora nos sintamos felizes ao vermos os brilhantes codificadores se entusiasmarem ao aprender a programar, temos de cumprir a legislação dos Brasil. O Bouman não direciona nosso Serviço para crianças com menos de 14 anos, e nós não permitimos quaisquer Usuários com menos de 14 anos no nosso Serviço. Se soubermos de qualquer Usuário menor de 14 anos, vamos encerrar a Conta de Usuário imediatamente. Se você for residente de um país fora do Brasil, a idade mínima do seu país pode ser maior; num caso destes, você é responsável por cumprir as leis do seu país. 

Seu login pode ser usado apenas por uma pessoa — ou seja, um único login não pode ser compartilhado por várias pessoas, se isso for denunciado o perfil será desativado por questões de segurança.  
</p>
<h2>4. Segurança da Conta de Usuário</h2> 
<p>
Você é responsável por manter sua Conta segura enquanto usa nosso Serviço. Nós oferecemos ferramentas como a autenticação para ajudá-lo a manter a segurança de sua Conta, mas o conteúdo de sua Conta e sua segurança são de sua responsabilidade. 

Você é responsável por todos os conteúdos postados e atividades que ocorrem em sua Conta (mesmo quando o conteúdo é postado por outros que têm Contas em sua Conta). 

Você é responsável por manter a segurança de sua Conta e senha. O Bouman não pode e não será responsabilizado por qualquer perda ou dano causado por sua falha em cumprir com esta obrigação de segurança. 

Você irá rapidamente notificar o Bouman se estiver ciente de qualquer uso não autorizado de, ou acesso a, nosso Serviço através de sua Conta, incluindo qualquer uso não autorizado de sua senha ou Conta. 
</p>
<h2>5. Termos adicionais</h2> 
<p>
Em algumas situações, os termos de terceiros podem ser aplicados ao seu uso do Bouman. Por exemplo, você pode ser integrante de um grupo no Bouman com seus próprios termos ou contratos de licença. Por favor, esteja ciente de que, embora esses Termos representem nosso acordo total com você, os termos de terceiros governam suas relações com você. 

Se você é um Usuário do governo ou, de outro modo, acessar ou usar qualquer Serviço Bouman em uma competência do governo, esta Emenda do Governo aos Termos de Serviço do Bouman se aplica a você, e você concorda com as suas disposições. 

 

Resumo: Bouman hospeda uma grande variedade de projetos colaborativos de todo o Brasil, e essa colaboração só funciona quando nossos usuários são capazes de trabalhar em conjunto de boa fé. Ao usar o serviço, você deve estar de acordo com os termos desta seção, que inclui algumas restrições sobre o conteúdo que você pode publicar, conduta no serviço e outras limitações. Em resumo, sejam excelentes uns com os outros. 

O seu uso do Site e Serviço não deve violar nenhuma lei aplicável, incluindo leis de direitos autorais ou de marcas registradas, controle de exportação ou leis de sanções, ou outras leis em sua jurisdição. Você é responsável por se certificar de que o uso do Serviço está em conformidade com as leis e quaisquer regulamentos aplicáveis. 

Você concorda que, em nenhuma circunstância, violará nossas Políticas de Uso Aceitáveis ou Diretrizes Comunitárias. 
</p>
 

<h1>Privacidade</h1> 

<h2>Introdução</h2> 
<p>
Somos uma rede social e plataforma online para pesquisadores. As pessoas usam nossos serviços para encontrar e serem encontradas oportunidades de negócios, para se conectar com outras pessoas e encontrar informações. Nossa Política de Privacidade se aplica a qualquer Usuário de nossos Serviços. 

Nossos usuários registrados compartilham suas identidades profissionais, se envolvem com sua rede, trocam conhecimentos e percepções profissionais, postam e visualizam conteúdo relevante, aprendem e desenvolvem habilidades e encontram oportunidades de carreira e parcerias. 

 

Serviços 

Esta Política de Privacidade se aplica ao uso de nossos Serviços. 

Esta Política de Privacidade se aplica ao Bouman.com e serviços relacionados ao Bouman, incluindo serviços externos, como nossos serviços de mediação de pesquisador e instituição. 

Mudanças 

As alterações na Política de Privacidade se aplicam ao uso de nossos Serviços após a "data de vigência" 

O Bouman (ou “nós”) podemos modificar esta Política de Privacidade e, se fizermos alterações materiais nela, avisaremos por meio de nossos Serviços, ou por outros meios, para fornecer a você a oportunidade de revisar as alterações antes que elas se tornem eficaz. Se você se opor a quaisquer alterações, você pode encerrar sua conta. 

Você reconhece que o uso continuado de nossos Serviços após publicar ou enviar um aviso sobre nossas alterações a esta Política de Privacidade significa que a coleta, uso e compartilhamento de seus dados pessoais estão sujeitos à Política de Privacidade atualizada, a partir de sua data de vigência. 

 

1. Dados que coletamos 

1.1 Dados que você nos fornece 

Você fornece dados para criar uma conta conosco. 

Cadastro 

Para criar uma conta, você precisa fornecer dados, incluindo seu nome, endereço de e-mail, área de atuação, data de nascimento, cidade, estado, senha e descrição. 

Com essas informações você cria conclui seu perfil no Bouman. 

 

Perfil 

Você tem opções sobre as informações em seu perfil, como educação, experiência profissional, habilidades, foto, cidade ou área e endossos. É sua escolha incluir informações confidenciais em seu perfil e torná-las públicas. Não poste ou adicione dados pessoais ao seu perfil que você não gostaria que estivessem disponíveis publicamente. 

 

Postagem e upload 

Coletamos seus dados pessoais quando você os fornece, publica ou carrega em nossos Serviços, você não precisa postar ou fazer upload de dados pessoais; embora se não o fizer, isso pode limitar sua capacidade de crescer e se envolver com sua rede por meio de nossos Serviços. 

 

1.2 Dados de terceiros 

Outros podem postar ou escrever sobre você. 

Conteúdo e Notícias 

Você e outras pessoas podem postar conteúdo que inclua informações sobre você (como parte de artigos, postagens, comentários, vídeos) em nossos Serviços.  

 

Informações de contato e calendário 

Recebemos dados pessoais (incluindo informações de contato) sobre você quando outros importam ou sincronizam seus contatos com nossos Serviços, associam seus contatos a perfis de membros, digitalizam e carregam cartões de visita ou enviam mensagens usando nossos Serviços (incluindo convites ou solicitações de conexão). 

 

Termos chave 

2. Como usamos seus dados 

 

2.1 Serviços 

Permaneça conectado 

Nossos serviços permitem que você fique em contato e atualizado com colegas, parceiros, clientes e outros contatos profissionais. Para isso, você pode se “conectar” com os profissionais que escolher e que também desejam se “conectar” com você. Sujeito às suas configurações e às configurações deles, quando você se conecta com outros membros, você será capaz de pesquisar as conexões uns dos outros para trocar experiências e oportunidades de carreira. 

 

Usamos dados sobre você (como seu perfil e a pesquisas) para ajudar outras pessoas a encontrar seu perfil, sugerir conexões para você e outros (por exemplo, membros que compartilham seus contatos ou áreas de interesse) e permite que você convide outras pessoas para se tornar um membro e se conectar com você. 

 

Carreira 

Nossos serviços permitem que você explore carreiras, avalie oportunidades educacionais e busque e seja encontrado oportunidades de carreira. Podemos usar sistemas automatizados para fornecer conteúdo e recomendações para ajudar a tornar nossos serviços mais relevantes para nossos usuários. Manter seu perfil preciso e atualizado pode ajudá-lo a se conectar melhor a outras pessoas e a oportunidades por meio de nossos Serviços. 

 

Produtividade 

Nossos serviços permitem que você se encontre com colegas, busque especialistas para seu projeto e troque experiências de trabalho. Nossos serviços permitem que você se comunique com outros membros. 

 

D. Conteúdo gerado pelo usuário 

Versão curta: Você possui o conteúdo que você cria, mas nos concede determinados direitos a ele, para que possamos exibir e compartilhar o conteúdo que você publicar. Você ainda tem controle sobre seu conteúdo e responsabilidade por ele, e os direitos que você nos concede são limitados àqueles que precisamos para fornecer o serviço. Temos o direito de remover conteúdo ou fechar Contas se precisarmos. 

 

1. Responsabilidade pelo conteúdo gerado pelo usuário 

Você pode criar ou fazer upload do conteúdo gerado pelo usuário usando o Serviço. Você é o único responsável pelo conteúdo e por qualquer dano resultante de qualquer conteúdo gerado pelo usuário que você publicar ou deixar disponível através do Serviço, independentemente da forma desse Conteúdo. Não somos responsáveis por nenhuma exibição pública ou uso indevido do seu Conteúdo Gerado pelo Usuário. 

 

2. O Bouman pode remover conteúdo 

Temos o direito de recusar ou remover qualquer Conteúdo Gerado por Usuário que, a nosso exclusivo critério, viole quaisquer leis ou termos ou políticas do Bouman. 

 

3. Propriedade do conteúdo, Direito de postar; Concessões de licença 

Você mantém a propriedade e a responsabilidade pelo seu conteúdo. Você concorda que é responsável por qualquer conteúdo que você publique; que você só enviará Conteúdo que você tem o direito de publicar; e que você esteja em total conformidade com licenças de terceiros relacionadas ao Conteúdo que você publicar. 

 

Porque você retem a propriedade e a responsabilidade do seu conteúdo, precisamos que você nos conceda — e outros usuários do Bouman — certas permissões legais, listadas nas Seções abaixo. Estas concessões de licença se aplicam ao Seu Conteúdo. Se você fizer upload de Conteúdo que já vem com uma licença que concede ao Bouman as permissões que precisamos para executar nosso Serviço, nenhuma licença adicional é necessária. Você compreende que não receberá nenhum pagamento por qualquer um dos direitos concedidos nas Seções abaixo. As licenças que você nos concede terminarão quando você remover Seu Conteúdo de nossos servidores. 

 

4. Concessão de licença para nós 

Precisamos do direito legal para fazer coisas como hospedar Seu Conteúdo, publicá-lo, e compartilhá-lo. Você concede a nós e aos nossos sucessores legais o direito de armazenar, arquivar, analisar e exibir Seu Conteúdo, e fazer cópias eventuais, conforme necessário, para fornecer o Serviço, incluindo o melhoramento do Serviço ao longo do tempo. Esta licença inclui o direito de fazer coisas como copiá-lo para a nossa base de dados e fazer backups; mostrá-lo para você e para outros usuários; analisá-lo em um índice de pesquisa ou analisá-lo em nossos servidores; compartilhá-lo com outros usuários; e executá-lo, no caso de Seu Conteúdo ser algo como música ou vídeo. 

 

Esta licença não concede ao Bouman o direito de vender Seu Conteúdo. Isso também não concede ao Bouman o direito de distribuir ou utilizar o Seu Conteúdo fora da nossa prestação do Serviço. 

 

5. Concessão de licença a outros usuários 

Qualquer Conteúdo gerado pelo Usuário que você publicar publicamente, incluindo comentários para as publicações de outros Usuários, podem ser vistos por outros. Definindo seus artigos como públicos também serão vistos publicamente. 

 

Ao definir os seus artigos como publicações, você concede aos Usuário do Bouman uma licença mundial não exclusiva para uso e exibição de Seu Conteúdo através do Serviço Bouman. Se você está fazendo upload do Conteúdo que você não criou ou possui, você é responsável por garantir que o Conteúdo que você faz o upload é licenciado em termos que concedem essas permissões a outros Usuários do Bouman. 

 

7. Direitos Morais 

Você mantém todos os direitos morais do Seu Conteúdo que você faz upload, publica ou envia em qualquer parte do Serviço, incluindo os direitos de integridade e atribuição. No entanto, você renuncia a esses direitos e concorda em não fazê-los valer contra nós, no intuito de permitir que exerçamos razoavelmente os direitos concedidos na Seção D.4, mas não de outra maneira. 

 

Na medida em que este contrato não é aplicável pela legislação aplicável, você concede ao Bouman os direitos que precisamos para usar Seu Conteúdo sem atribuição e fazer adaptações razoáveis do Seu Conteúdo conforme necessário para renderizar o Site e fornecer o Serviço. 

 

E. Projeto privados 

Versão curta: Tratamos o conteúdo de projetos privados como confidencial, e só o acessamos conforme descrito na nossa Declaração de Privacidade — para fins de segurança, para auxiliar o proprietário do projeto com uma questão de suporte, para manter a integridade do Serviço, cumprir as nossas obrigações legais, se tivermos motivos para acreditar que o conteúdo está em violação da lei, ou com o seu consentimento. 

 

1. Controle de Repositórios Privados 

Algumas Contas podem ter projetos privados, que permitem ao Usuário controlar o acesso ao Conteúdo. 

 

2. Confidencialidade dos Projetos Privados 

O Bouman considera o conteúdo de projetos privados como confidencial para você. O Bouman protegerá o conteúdo de projetos privados de uso, acesso ou divulgação não autorizados da mesma forma que utilizaríamos para proteger nossas próprias informações confidenciais de natureza semelhante e, em todo caso, com um grau de cuidado razoável. 

 

3. Acesso 

O pessoal do Bouman só pode acessar o conteúdo dos seus repositórios privados nas situações descritas em nossa Declaração de Privacidade, mas em condições normais o Bouman irá tratar todo o seu arquivo como confidencial. Além disso, podemos ser obrigados, por lei, a divulgar o conteúdo de seus artigos privados. 

 

 

 

 

Direitos Autorais 

 

Reclamações sobre o conteúdo postado no site do Bouman 

O Bouman respeita os direitos de propriedade intelectual de terceiros e deseja oferecer uma plataforma que não contenha conteúdo que viole esses direitos. Nosso Acordo de Usuário exige que as informações postadas pelos Usuários sejam precisas, legais e não violem os direitos de terceiros. Para promover esses objetivos, o Bouman oferece um processo para envio de reclamações relacionadas ao conteúdo postado por nossos usuários. Nossa política e procedimentos são descritos e / ou referenciados nas seções a seguir. 

 

Observe que, independentemente de desabilitarmos ou não o acesso ou removermos o conteúdo, o Bouman pode fazer uma tentativa de boa fé para encaminhar a notificação por escrito, incluindo as informações de contato do reclamante, ao Usuário que postou o conteúdo e / ou tomar outras medidas razoáveis ​​para notificar o Usuário que o Bouman recebeu notificação de uma alegada violação dos direitos de propriedade intelectual ou outra violação de conteúdo. Também é nossa política, em circunstâncias apropriadas e a nosso critério, desabilitar e / ou encerrar as contas de Usuários, ou grupos conforme o caso, que infringem ou repetidamente violam os direitos de terceiros ou postam conteúdo ilegal. 

 

Observe que qualquer alegação ou contra-alegação enviada deve ser verdadeira e deve ser enviada sob pena de perjúrio. Uma falsa alegação ou contra-alegação pode dar origem a responsabilidades pessoais. Portanto, você pode procurar aconselhamento jurídico antes de enviar uma alegação ou contra-alegação. 

 

Reclamações sobre violação de direitos autorais 

Aviso de violação de direitos autorais: 

Através do e-mail bouman.equipe@gmail.com o bouman poderá fornecer os dados privados de um projeto caso haja uma violação de direitos que um usuário cometeu a um agente penal que solicite, isso após analisarmos as alegações violações de direitos autorais e cumpra os requisitos abaixo: 

Uma assinatura eletrônica ou física da pessoa autorizada a agir em nome do proprietário dos direitos autorais; 

Uma descrição do trabalho protegido por direitos autorais que você alega ter sido violado; 

Uma descrição especificando a localização em nosso site do material que você alega estar em violação; 

Seu endereço de e-mail e seu endereço de correspondência e / ou número de telefone; 

Uma declaração sua de que você acredita de boa fé que o uso contestado não foi autorizado pelo proprietário dos direitos autorais, seu agente ou pela lei; 

 E uma declaração sua, feita sob pena de perjúrio, de que as informações em sua notificação são precisas e que você é o proprietário dos direitos autorais ou está autorizado a agir em nome do proprietário dos direitos autorais. 

 

Se você acredita que um aviso de violação de direitos autorais foi enviado indevidamente contra você, você pode enviar uma contra-alegação, você deve enviar um email de contra-alegação ao e-mail bouman.equipe@gmail.com que contenha as mesmas especificações da contra-alegação. 

 

Se você acredita que o conteúdo em nosso site viola seus direitos autorais, por favor, entre em contato conosco. Se você é um proprietário de direitos autorais e acredita que o conteúdo no Bouman viola seus direitos, por favor, entre em contato conosco envie-nos pelo e-mail bouman.equipe@gmail.com. Poderá haver consequências jurídicas para o envio de um aviso de remoção falso ou leviano. Antes de enviar uma solicitação de remoção, você deve considerar usos legais, tais como uso justo e usos licenciados. 

 

Nós encerraremos as Contas de infratores reiterados desta política. 

 

G. Avisos de Propriedade Intelectual 

Versão curta: Nós somos proprietários do serviço e de todo o nosso conteúdo. Para que você use nosso conteúdo, nós lhe damos certos direitos relativos a ele, mas você só pode usar nosso conteúdo da forma que permitimos. 

 

1. Direitos do Bouman ao conteúdo 

Bouman e nossos provedores de conteúdo detêm a propriedade de todos os direitos de propriedade intelectual de qualquer tipo relacionados ao Site e Serviço. Reservamo-nos todos os direitos que não lhe são expressamente concedidos neste Contrato ou por lei. O visual e a impressão do Site e do Serviço estão protegidos sob direitos autorais. Você não pode duplicar, copiar ou reutilizar qualquer parte do HTML/CSS, Javascript ou conceitos e elementos de design visual sem permissão escrita expressa do Bouman. 

 

3. Licença para as Políticas Bouman 

Este Contrato é licenciado sob esta Licença Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International. Para ver os detalhes, consulte nosso repositório da Política do Site. 

 

Licença 

Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License 

 

By exercising the Licensed Rights (defined below), You accept and agree to be bound by the terms and conditions of this Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License ("Public License"). To the extent this Public License may be interpreted as a contract, You are granted the Licensed Rights in consideration of Your acceptance of these terms and conditions, and the Licensor grants You such rights in consideration of benefits the Licensor receives from making the Licensed Material available under these terms and conditions. 

 

Section 1 – Definitions. 

 

Adapted Material means material subject to Copyright and Similar Rights that is derived from or based upon the Licensed Material and in which the Licensed Material is translated, altered, arranged, transformed, or otherwise modified in a manner requiring permission under the Copyright and Similar Rights held by the Licensor. For purposes of this Public License, where the Licensed Material is a musical work, performance, or sound recording, Adapted Material is always produced where the Licensed Material is synched in timed relation with a moving image. 

Adapter's License means the license You apply to Your Copyright and Similar Rights in Your contributions to Adapted Material in accordance with the terms and conditions of this Public License. 

BY-NC-SA Compatible License means a license listed at creativecommons.org/compatiblelicenses, approved by Creative Commons as essentially the equivalent of this Public License. 

Copyright and Similar Rights means copyright and/or similar rights closely related to copyright including, without limitation, performance, broadcast, sound recording, and Sui Generis Database Rights, without regard to how the rights are labeled or categorized. For purposes of this Public License, the rights specified in Section 2(b)(1)-(2) are not Copyright and Similar Rights. 

Effective Technological Measures means those measures that, in the absence of proper authority, may not be circumvented under laws fulfilling obligations under Article 11 of the WIPO Copyright Treaty adopted on December 20, 1996, and/or similar international agreements. 

Exceptions and Limitations means fair use, fair dealing, and/or any other exception or limitation to Copyright and Similar Rights that applies to Your use of the Licensed Material. 

License Elements means the license attributes listed in the name of a Creative Commons Public License. The License Elements of this Public License are Attribution, NonCommercial, and ShareAlike. 

Licensed Material means the artistic or literary work, database, or other material to which the Licensor applied this Public License. 

Licensed Rights means the rights granted to You subject to the terms and conditions of this Public License, which are limited to all Copyright and Similar Rights that apply to Your use of the Licensed Material and that the Licensor has authority to license. 

Licensor means the individual(s) or entity(ies) granting rights under this Public License. 

NonCommercial means not primarily intended for or directed towards commercial advantage or monetary compensation. For purposes of this Public License, the exchange of the Licensed Material for other material subject to Copyright and Similar Rights by digital file-sharing or similar means is NonCommercial provided there is no payment of monetary compensation in connection with the exchange. 

Share means to provide material to the public by any means or process that requires permission under the Licensed Rights, such as reproduction, public display, public performance, distribution, dissemination, communication, or importation, and to make material available to the public including in ways that members of the public may access the material from a place and at a time individually chosen by them. 

Sui Generis Database Rights means rights other than copyright resulting from Directive 96/9/EC of the European Parliament and of the Council of 11 March 1996 on the legal protection of databases, as amended and/or succeeded, as well as other essentially equivalent rights anywhere in the world. 

You means the individual or entity exercising the Licensed Rights under this Public License. Your has a corresponding meaning. 

Section 2 – Scope. 

 

License grant. 

    Subject to the terms and conditions of this Public License, the Licensor hereby grants You a worldwide, royalty-free, non-sublicensable, non-exclusive, irrevocable license to exercise the Licensed Rights in the Licensed Material to: 

        reproduce and Share the Licensed Material, in whole or in part, for NonCommercial purposes only; and 

        produce, reproduce, and Share Adapted Material for NonCommercial purposes only. 

    Exceptions and Limitations. For the avoidance of doubt, where Exceptions and Limitations apply to Your use, this Public License does not apply, and You do not need to comply with its terms and conditions. 

    Term. The term of this Public License is specified in Section 6(a). 

    Media and formats; technical modifications allowed. The Licensor authorizes You to exercise the Licensed Rights in all media and formats whether now known or hereafter created, and to make technical modifications necessary to do so. The Licensor waives and/or agrees not to assert any right or authority to forbid You from making technical modifications necessary to exercise the Licensed Rights, including technical modifications necessary to circumvent Effective Technological Measures. For purposes of this Public License, simply making modifications authorized by this Section 2(a)(4) never produces Adapted Material. 

    Downstream recipients. 

        Offer from the Licensor – Licensed Material. Every recipient of the Licensed Material automatically receives an offer from the Licensor to exercise the Licensed Rights under the terms and conditions of this Public License. 

        Additional offer from the Licensor – Adapted Material. Every recipient of Adapted Material from You automatically receives an offer from the Licensor to exercise the Licensed Rights in the Adapted Material under the conditions of the Adapter’s License You apply. 

        No downstream restrictions. You may not offer or impose any additional or different terms or conditions on, or apply any Effective Technological Measures to, the Licensed Material if doing so restricts exercise of the Licensed Rights by any recipient of the Licensed Material. 

    No endorsement. Nothing in this Public License constitutes or may be construed as permission to assert or imply that You are, or that Your use of the Licensed Material is, connected with, or sponsored, endorsed, or granted official status by, the Licensor or others designated to receive attribution as provided in Section 3(a)(1)(A)(i). 

 

Other rights. 

    Moral rights, such as the right of integrity, are not licensed under this Public License, nor are publicity, privacy, and/or other similar personality rights; however, to the extent possible, the Licensor waives and/or agrees not to assert any such rights held by the Licensor to the limited extent necessary to allow You to exercise the Licensed Rights, but not otherwise. 

    Patent and trademark rights are not licensed under this Public License. 

    To the extent possible, the Licensor waives any right to collect royalties from You for the exercise of the Licensed Rights, whether directly or through a collecting society under any voluntary or waivable statutory or compulsory licensing scheme. In all other cases the Licensor expressly reserves any right to collect such royalties, including when the Licensed Material is used other than for NonCommercial purposes. 

Section 3 – License Conditions. 

 

Your exercise of the Licensed Rights is expressly made subject to the following conditions. 

 

Attribution. 

 

    If You Share the Licensed Material (including in modified form), You must: 

        retain the following if it is supplied by the Licensor with the Licensed Material: 

            identification of the creator(s) of the Licensed Material and any others designated to receive attribution, in any reasonable manner requested by the Licensor (including by pseudonym if designated); 

            a copyright notice; 

            a notice that refers to this Public License; 

            a notice that refers to the disclaimer of warranties; 

            a URI or hyperlink to the Licensed Material to the extent reasonably practicable; 

        indicate if You modified the Licensed Material and retain an indication of any previous modifications; and 

        indicate the Licensed Material is licensed under this Public License, and include the text of, or the URI or hyperlink to, this Public License. 

    You may satisfy the conditions in Section 3(a)(1) in any reasonable manner based on the medium, means, and context in which You Share the Licensed Material. For example, it may be reasonable to satisfy the conditions by providing a URI or hyperlink to a resource that includes the required information. 

    If requested by the Licensor, You must remove any of the information required by Section 3(a)(1)(A) to the extent reasonably practicable. 

ShareAlike. 

 

In addition to the conditions in Section 3(a), if You Share Adapted Material You produce, the following conditions also apply. 

    The Adapter’s License You apply must be a Creative Commons license with the same License Elements, this version or later, or a BY-NC-SA Compatible License. 

    You must include the text of, or the URI or hyperlink to, the Adapter's License You apply. You may satisfy this condition in any reasonable manner based on the medium, means, and context in which You Share Adapted Material. 

    You may not offer or impose any additional or different terms or conditions on, or apply any Effective Technological Measures to, Adapted Material that restrict exercise of the rights granted under the Adapter's License You apply. 

Section 4 – Sui Generis Database Rights. 

 

Where the Licensed Rights include Sui Generis Database Rights that apply to Your use of the Licensed Material: 

 

for the avoidance of doubt, Section 2(a)(1) grants You the right to extract, reuse, reproduce, and Share all or a substantial portion of the contents of the database for NonCommercial purposes only; 

if You include all or a substantial portion of the database contents in a database in which You have Sui Generis Database Rights, then the database in which You have Sui Generis Database Rights (but not its individual contents) is Adapted Material, including for purposes of Section 3(b); and 

You must comply with the conditions in Section 3(a) if You Share all or a substantial portion of the contents of the database. 

For the avoidance of doubt, this Section 4 supplements and does not replace Your obligations under this Public License where the Licensed Rights include other Copyright and Similar Rights. 

 

Section 5 – Disclaimer of Warranties and Limitation of Liability. 

 

Unless otherwise separately undertaken by the Licensor, to the extent possible, the Licensor offers the Licensed Material as-is and as-available, and makes no representations or warranties of any kind concerning the Licensed Material, whether express, implied, statutory, or other. This includes, without limitation, warranties of title, merchantability, fitness for a particular purpose, non-infringement, absence of latent or other defects, accuracy, or the presence or absence of errors, whether or not known or discoverable. Where disclaimers of warranties are not allowed in full or in part, this disclaimer may not apply to You. 

To the extent possible, in no event will the Licensor be liable to You on any legal theory (including, without limitation, negligence) or otherwise for any direct, special, indirect, incidental, consequential, punitive, exemplary, or other losses, costs, expenses, or damages arising out of this Public License or use of the Licensed Material, even if the Licensor has been advised of the possibility of such losses, costs, expenses, or damages. Where a limitation of liability is not allowed in full or in part, this limitation may not apply to You. 

 

The disclaimer of warranties and limitation of liability provided above shall be interpreted in a manner that, to the extent possible, most closely approximates an absolute disclaimer and waiver of all liability. 

Section 6 – Term and Termination. 

 

This Public License applies for the term of the Copyright and Similar Rights licensed here. However, if You fail to comply with this Public License, then Your rights under this Public License terminate automatically. 

 

Where Your right to use the Licensed Material has terminated under Section 6(a), it reinstates: 

    automatically as of the date the violation is cured, provided it is cured within 30 days of Your discovery of the violation; or 

    upon express reinstatement by the Licensor. 

For the avoidance of doubt, this Section 6(b) does not affect any right the Licensor may have to seek remedies for Your violations of this Public License. 

For the avoidance of doubt, the Licensor may also offer the Licensed Material under separate terms or conditions or stop distributing the Licensed Material at any time; however, doing so will not terminate this Public License. 

Sections 1, 5, 6, 7, and 8 survive termination of this Public License. 

Section 7 – Other Terms and Conditions. 

 

The Licensor shall not be bound by any additional or different terms or conditions communicated by You unless expressly agreed. 

Any arrangements, understandings, or agreements regarding the Licensed Material not stated herein are separate from and independent of the terms and conditions of this Public License. 

Section 8 – Interpretation. 

 

For the avoidance of doubt, this Public License does not, and shall not be interpreted to, reduce, limit, restrict, or impose conditions on any use of the Licensed Material that could lawfully be made without permission under this Public License. 

To the extent possible, if any provision of this Public License is deemed unenforceable, it shall be automatically reformed to the minimum extent necessary to make it enforceable. If the provision cannot be reformed, it shall be severed from this Public License without affecting the enforceability of the remaining terms and conditions. 

No term or condition of this Public License will be waived and no failure to comply consented to unless expressly agreed to by the Licensor. 

Nothing in this Public License constitutes or may be interpreted as a limitation upon, or waiver of, any privileges and immunities that apply to the Licensor or You, including from the legal processes of any jurisdiction or authority. </p>