<div class="container">
    <header>
        <h1>Termos de Serviço e Privacidade</h1>
    </header>
    
    <section>
        <h2>Sobre</h2>
    
        <p>O Bouman é uma rede social para pesquisadores científicos se encontrarem e trocarem experiências de trabalho</p>
    
        <h2>Visão</h2>
    
        <p>Conectar os pesquisadores brasileiros e permitir um melhor desenvolvimento científico no Brasil</p>
    
        <h2>Missão</h2>
    
        <p>
            Auxiliar os pesquisadores brasileiros com o desenvolvimento e visibilidade para seus projetos científicos.
        </p>
    
        <h2>Quem somos nós?</h2>
    
        <p>
            O Bouman começou da ideia de um grupo de amigos de auxiliar o setor científico brasileiro após observar a
            situação do setor na época da pandemia do Covid-19 em 2020.
        </p>
    </section>
    
    <main>
        <!-- Account terms -->    
        <terms-account></terms-account>
    
        <!-- Privacy terms -->
        <terms-privacy></terms-privacy>    
    </main>
</div>
