.card {
    width: 20vw;
    height: fit-content;
    max-height: 40vh;
}

.card .card-header {
	display: flex;
	justify-content: space-between;

    font-weight: bold;
    background-color: #D3E2E5;
    padding: .375rem .75rem;
}

.card .card-header button {
    padding: 0;
    font-weight: lighter;
    font-size: 0.85rem;
    
    align-items: center;
}

.card .card-body {
    padding: 0.4rem 1.25rem 1rem 1.25rem;
}

.card .card-body ul {
    padding: 0;
    list-style: none;
}

.card .card-body .social-network-item {
    margin: 0.25rem 0;
    font-size: 0.9em;
}

.modal-footer{
    justify-content: space-between;
}

.modal-body label{
    font-weight: bold;
    margin: 2% 0 1% 1%;
}