.card {
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
  border-radius: 8px 8px 0 0;

  width: min-content;
}
.card .card-body {
  padding: 0;
}

.card .card-body img.profile-background {
  height: 30vh;
  width: 60vw;
  border-radius: 8px 8px 0 0;
}

.card .card-body .text-content{
  position: absolute;
  color: white;
  margin-left: 25%;
  margin-top: 3%;
  width: 60%;
}

.card .card-body .text-content .card-title {
  font-size: 2.1rem;
  font-weight: bold;
}

.card .card-body .text-content .card-text {
  font-size: 1rem;
  margin-top: 5%;
}

.card-text, .card-title{
  background-color: rgb(0, 0, 0, 0.5);
  padding: 1% 0%;
}

.card .card-body img.profile-picture {
  position: absolute;
  margin-top: 3%;
  width: 20%;
  border-radius: 10vw;
  margin-left: 1rem;
}

.card .card-body #btnFotos{
  position: absolute;
  margin-top: 3%;
}

.card .card-body #button-save {
  border-color: #df660f;
  background-color: #fa902e;

  color: #ffffff;
}

.card-footer {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.card-footer p {
  margin: 1rem 0;
}

.card-footer label {
  font-size: 0.8rem;
  font-weight: 500;
}

.card .card-body #btnFotos{
  margin-left: 90%;
}

.card .card-body #editPen{
  width: 80%;
}

.card .card-body .fotoPerfil, .fotoFundo{
  position: absolute;
  display: none;
}

.changeWall{
  text-align: center;
  width: 50%;
}

.card .card-body #labelPerfil {
  background-color: rgba(223, 102, 15, 0.6);
  border: 2px solid #df660f;
  border-radius: 6px;
  position: absolute; 

  font-size: 0.8rem;

  cursor: pointer;
}

.card .card-body #labelFundo {
  font-size: 1.9rem;
  position: absolute;
  color: white;

  margin-top: 5%;

  cursor: pointer;
}

/* ANTIGO CSS DO CARD DE PERFIL

.card .card-body img.profile-background {
  width: 90vw;
  height: 16vh;

  border-radius: 8px 8px 0 0;
}

.card .card-body img.profile-picture {
  position: absolute;
  bottom: 3.5rem;

  width: 20vw;
  height: 20vw;

  border: 1px solid #000000;

  border-radius: 10vw;

  margin-left: 1rem;
}

.card .card-body .profile-card-content {
  display: flex;
  height: 18vh;
  width: 90vw;

  background: #ffffff;
  border-radius: 0px 0px 8px 8px;
}

.card .card-body .profile-card-content .text-content {
  position: relative;
  margin-left: 25vw;
}

.card .card-body .profile-card-content .text-content span {
  font-weight: bold;
  font-size: 1.3rem;
}

.card .card-body .profile-card-content .text-content p {
  width: 56vw;
  
  text-align: justify;
  font-size: 1.3rem;
}

.card .card-body #button-save {
  border-color: #df660f;
  background-color: #fa902e;

  color: #ffffff;
}

.card .card-body .fotoPerfil {
  position: absolute;
  display: none;
}

.card .card-body #labelPerfil {
  background-color: rgba(223, 102, 15, 0.6);
  border: 2px solid #df660f;
  border-radius: 6px;

  width: 20%;
  margin-left: 0.6rem;

  z-index: 5;
  position: absolute;

  font-size: 0.8rem;
  text-align: center;

  cursor: pointer;
}

.card .card-body .fotoFundo {
  position: absolute;
  display: none;
}

.card .card-body #labelFundo {
  font-size: 1.6rem;
  text-align: center;
  color: white;

  z-index: 5;
  position: absolute;
  margin-top: 5%;

  cursor: pointer;
}

#btnFotos {
  margin-top: 1vh;
  margin-left: 2vw;
}

@media (min-width: 768px) {
  .card .card-body img.profile-background {
    width: 60vw;
  }

  .card .card-body .profile-card-content {
    height: fit-content;
    width: 60vw;
  }

  .card .card-body img.profile-picture {
    position: absolute;
    bottom: 2.5rem;

    width: 12vw;
    height: 12vw;

    border-radius: 12vw;
  }

  .card .card-body .profile-card-content .text-content {    
    margin-left: 16vw;
  }

  .card .card-body .profile-card-content .text-content p {
    width: 36vw;
    margin: 0.4rem 0;
  }
}

@media (max-width: 426px) {
  #btnFotos {
    margin-left: 0;
  }

  .card .card-body .profile-card-content .text-content p {
    width: 50vw;
    font-size: 0.9rem;
  }

  .card .card-body #labelFundo {
    margin-top: 2%;
    margin-left: 10%;

    width: 70%;
    font-size: 1.3rem;
  }

  .card .card-body #labelPerfil {
    width: 25%;
  }

  .card .card-body .profile-card-content {
    height: 12vh;
  }

  .card .card-body #button-save {
    margin-left: -15%;
  }
}

@media (min-width: 1024px) {
  .card .card-body img.profile-background {
    width: 45vw;
  }

  .card .card-body img.profile-picture {
    position: absolute;
    width: 8vw;
    height: 8vw;
  }  

  .card .card-body .profile-card-content {
    height: fit-content;
    width: 45vw;
  }

  .card .card-body .profile-card-content .text-content {    
    margin-left: 12vw;
  }

  .card .card-body .profile-card-content .text-content p {
    max-width: 24vw;
    font-size: 0.9rem;
    margin: 0.6rem 0;
  }
}
*/