<div class="card">
    <div class="card-body" [ngStyle]="{ 'background-image': 'url(' + wallpImg + ')' }">

        <div class="profile-card-content">
            <img [src]="profileImg" alt="Foto de perfil" class="profile-picture img-responsive">
            <div class="changeProfile" #btnPerfil *ngIf="esconder && editbutton">
                <label for="fotoPerfil" id="labelPerfil">
                    Clique aqui para enviar uma foto de perfil
                    <input type="file" id="fotoPerfil" class="fotoPerfil" accept="*.jpg.png" (change)="getProfileImg($event)">
                </label>
            </div>

            <div class="text-content" *ngIf="!esconder">
                <span class="card-title">{{ userData.name }}</span>
                <p class="card-text">{{ userData.desc }}</p>
            </div>

            <div class="changeWall" #btnFundo *ngIf="esconder && editbutton">
                <label for="fotoFundo" id="labelFundo">
                    Clique aqui para enviar um papel de parede
                    <input type="file" id="fotoFundo" class="fotoFundo" accept="*.jpg.png" (change)="getWallpImg($event)"> 
                </label>
            </div>

            <div id="btnFotos" *ngIf="editbutton; else followDiv">
                <div *ngIf="!esconder; else elseBloco">
                    <img role="button" (click)="esconder = !esconder"  id="editPen" src="../../../../assets/pen.svg">
                </div>
                <ng-template #elseBloco>
                    <button class="btn btn-bouman" type="button" (click)="saveFotos()">Salvar</button>
                </ng-template>
            </div>

            <ng-template #followDiv>
                <div id="followProfile">
                    <button class="btn btn-bouman" type="button" (click)="onFollow()" #btnFollow>Seguir</button>
                </div>
            </ng-template>            
        </div>

    </div>
    <div class="card-footer">
        <p> <span>Artigos</span> 12 <p>
        <p> <span>Contribuições </span> 347</p>
        <p> <span> Outros Projetos </span> 3 </p>
    </div>
</div>
