.card {
    position: absolute;
    width: 842px;
    height: 336px;    

    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));    
}

.card .card-body {
    display: flex;
    flex-direction: column;    
}

.card .card-body img.profile-background {
    width: 842px;
    height: 168px;

    border-radius: 8px 8px 0 0;
}

.card .card-body img.profile-picture {
    position: absolute;
    bottom: 0px;
    left: 60px;    

    width: 180px;
    height: 180px;
    mix-blend-mode: normal;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 160px;

    z-index: 10;
}

.card .card-body .profile-card-content {
    height: 168px;

    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;        
}

.card .card-body .profile-card-content .text-content {
    position: relative;
    left: 18vw;
}

.card .card-body .profile-card-content .text-content h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    display: flex;
    align-items: center;
    text-align: center;
}

.card .card-body .profile-card-content .text-content p {    
    width: 30vw;

    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.card .card-body #editPen{
    margin-left: 55%;
}
.card .card-body #button-save{
    border-radius: 8px;
    border-color: #df660f;
    background-color: #fa902e;

    color: #ffffff;
    font-weight: bold;
    font-size: 1.7rem;

    height: 30px;
    width: 90%;
}
.card .card-body .fotoPerfil{
    position: absolute;
    display: none;
}
.card .card-body #labelPerfil{
    background-color: rgba(223, 102, 15, 0.6);
    border: 2px solid #df660f;
    border-radius: 6px;

    width: 24%;
    margin-left: 7%;
    margin-bottom: 50%;
    
    z-index: 30;
    position: absolute;

    font-size: 1.3rem;
    text-align: center;

    cursor: pointer;
}
.card .card-body .fotoFundo{
    position: absolute;
    display: none;
}
.card .card-body #labelFundo{
    font-size: 2.8rem;
    text-align: center;
    color: white;

    z-index: 5;
    position: absolute;
    margin-top: 9%;

    cursor: pointer;
}
#btnFotos{
    margin-top: 3%;
}