.card {
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
  border-radius: 8px 8px 0 0;
}

.card .card-body {
  height: 30vh;
  max-height: 30vh;

  padding: 0;

  background-size: cover;
}

.card .card-body .profile-card-content {
  display: flex;
}

.card .card-body img.profile-picture {
  width: 25%;
  height: 25%;

  padding: 1rem;

  border-radius: 50%;
}

.card .card-body .text-content{
  color: white;  
}

.card-text, .card-title{
  background-color: rgb(0, 0, 0, 0.5);
}

.card .card-body .text-content .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card .card-body .text-content .card-text {
  font-size: 1rem;
  width: 85%;
  margin-top: 0.4rem
}

.card .card-body #editPen {
  margin: 0.4rem;
  height: 2.5rem;
}

.card .card-body #button-save {
  border-color: #df660f;
  background-color: #fa902e;

  color: #ffffff;
}

.card-footer {
  justify-content: space-around;
  display: flex;
  padding: 0;
}

.card-footer p {
  margin: 0.4rem 0;
  font-size: 0.8rem;
}

.card-footer span {
  font-weight: bold;
  font-size: 1rem;
}

.card .card-body .fotoPerfil, .fotoFundo{
  position: absolute;
  display: none;
}

.changeProfile {
  position: absolute;

  margin-top: 10%;
  margin-left: 2%;
}

.changeWall{
  text-align: center;
  width: 50%;
}

.card .card-body #labelPerfil {
  background-color: rgba(223, 102, 15, 0.8);

  border: 2px solid #df660f;  
  border-radius: 6px;

  font-size: 0.8rem;
  font-weight: bold;

  cursor: pointer;

  width: 50%;  
}

.card .card-body #labelFundo {
  font-size: 1.9rem;
  position: absolute;
  color: white;

  margin-top: 5%;

  cursor: pointer;
}

@media (min-width: 768px) {
  .card .card-body {
    height: 25vh;
    max-height: 25vh;
  }
  
  .card .card-body .profile-card-content {
    display: flex;
  }

  .card .card-body img.profile-picture {
    width: 25%;
    height: 25%;
  
    padding: 1rem;
  
    border-radius: 50%;
  }
  
  .card .card-body .text-content .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card .card-body .text-content .card-text {
    font-size: 0.9rem;
    width: 70%;
    margin-top: 0.4rem
  }
  
  .card .card-body #editPen {
    margin: 0.4rem;
    height: 2.5rem;
  }

  .card-footer {
    justify-content: space-around;
    display: flex;
    padding: 0;
  }
  
  .card-footer p {
    margin: 0.4rem 0;
    font-size: 0.7rem;
  }
  
  .card-footer span {
    font-weight: bold;
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .card .card-body {
    height: 30vh;
    max-height: 30vh;
  
    padding: 0;
  
    background-size: cover;
  }
  
  .card .card-body .profile-card-content {
    display: flex;
  }
  
  .card .card-body img.profile-picture {
    width: 25%;
    height: 25%;
  
    padding: 1rem;
  
    border-radius: 50%;
  }
  
  .card .card-body .text-content .card-title {
    font-size: 2.1rem;
    font-weight: bold;
  }
  
  .card .card-body .text-content .card-text {
    font-size: 1rem;
    width: 70%;
    margin-top: 0.4rem
  }
  
  .card .card-body #editPen {
    margin: 0.4rem;
    height: 2.5rem;
  }
  
  .card-footer {
    justify-content: space-around;
    display: flex;
    padding: 0;
  }
  
  .card-footer p {
    margin: 0.4rem 0;
    font-size: 0.8rem;
  }
  
  .card-footer span {
    font-weight: bold;
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .card .card-body {
    height: 25vh;
    max-height: 25vh;
  }
  
  .card .card-body .profile-card-content {
    display: flex;
  }
  
  .card .card-body img.profile-picture {
    width: 25%;
    height: 25%;
  
    padding: 1rem;
  
    border-radius: 50%;
  }
  
  .card .card-body .text-content .card-title {
    font-size: 2.1rem;
    font-weight: bold;
  }
  
  .card .card-body .text-content .card-text {
    font-size: 1rem;
    width: 70%;
    margin-top: 0.4rem
  }
  
  .card .card-body #editPen {
    margin: 0.4rem;
    height: 2.5rem;
  }
}
