.aside-content {
    display: flex;
    flex-direction: column;    
}

.aside-content span{
    color: teal;
    font-size: 1.6rem;
    padding-bottom: 5%;
    /*background-color: rgb(0, 128, 128, 0.3);*/
}

#btn-add{
    cursor: pointer;
}

.form-group{
    resize: none !important;
}

/*button.btn-bouman,*/ .btn-bouman-save {
    background: #FA902E;
    width: 90%;
    border: 1px solid #DF660F;
    box-sizing: border-box;
    border-radius: 6px;
    color: white;
    transition: 0.3s;

    font-weight: bold;
}

/*
button.btn-bouman:hover {
    background: #DF660F;
}

.aside-content span {
    margin: 1rem 0 ;
}
button.btn-bouman-secondary {
    margin-right: 0.5rem;   
    color: #07889B;

    background: #D3E2E5;
    border: 1px solid #07889B;
    box-sizing: border-box;    
    transition: 0.3s;
}

button.btn-bouman-secondary:hover {
    color: #D3E2E5;    

    background: #07889B;       
}*/