button.btn-bouman {
    color: #07889B;

    background: #D3E2E5;
    border: 1px solid #07889B;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 0.3s;
}

button.btn-bouman:hover {
    color: #D3E2E5;    

    background: #07889B;       
}