.container{
  margin-top: 3%;
}
.bouman-info {
  display: flex;
  flex-direction: column;
}

.bouman-info {
  font-weight: bold;

  text-align: justify;
}

.bouman-info span {
  font-size: 3rem;
  color: #df660f;
}

.bouman-info p {
  font-size: 1.8rem;

  color: #3a3a3a;
}

.bouman-info img {
  width: 55%;
  height: 60%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 3% auto;
}

.bouman-form {
  display: flex;
  flex-direction: column;

  padding: 3%;
  width: fit-content;
  height: fit-content;

  filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, #df660f 0%, #fa902e 100%);

  border-radius: 12px;
}

.bouman-form label {
  font-size: 2rem;

  color: #ffffff;

  padding-left: 2%;
}

.bouman-form input, .bouman-form select {
  width: 95%;
  height: 6vh;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;

  margin: 0 0 3% 3%;
}

.bouman-form span {
  font-weight: bold;
  font-size: 1.5rem;

  width: 80%;
  margin: 0 auto;
  margin-bottom: 2%;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.bouman-form p {
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}

.bouman-form button {
  display: flex;
  align-items: center;

  width: 50%;

  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 2.1rem;

  color: #ffffff;

  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  margin: 0 auto;
}

.bouman-form input.ng-invalid.ng-touched {
  border-color: darkred;
  background-color: rgb(255, 158, 158);
}
