<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Information about the website -->
            <div class="bouman-info">
                <span>O que é o Bouman</span>
                <p>
                    O Bouman é a mais nova plataforma pensada e adaptada para os cientistas e inventores
                    brasileiros,
                    oferecendo diversas ferramentas que facilitam o desenvolvimento de pesquisas e o trabalho em
                    grupo.
                    Pensando no senso de comunidade, oferecemos a opção dos usuários contribuirem em trabalhos de
                    outros
                    pesquisadores, oferecendo sugestões e análises.
                </p>

                <!-- Vector to illustrate website -->
                <img src="/assets/undraw_medical_research_qg4d.svg" alt="Ilustração">
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <!-- Form to signup user -->
            <div class="bouman-form">
                <form #boumanForm="ngForm" (ngSubmit)="signup()">
                    <label for="username">Nome Completo</label>
                    <input type="text" name="name" id="username" placeholder="Seu nome" ngModel required
                        #nome="ngModel">
                    <p *ngIf="!nome.valid && nome.touched" class="help-invalid">Por favor, preencha o campo corretamente.</p>

                    <label for="usermail">E-mail</label>
                    <input type="email" name="email" id="usermail" placeholder="Ex.: bouman@email.com" ngModel required
                        email #mail="ngModel">
                    <p *ngIf="!mail.valid && mail.touched" class="help-invalid">Por favor, insira um e-mail válido.</p>

                    <label for="area">Área de Atuação</label>
                    <select class="custom-select bouman-select" id="area" name="area" ngModel required>
                        <option *ngFor="let area of areas" [value]="area.value">{{ area.name }}</option>
                    </select>

                    <label for="userkey">Senha</label>
                    <input type="password" name="passkey" id="userkey" placeholder="Ex.: @Bouman2021" ngModel required
                        minlength="8" #passkey="ngModel">
                    <p *ngIf="!passkey.valid && passkey.touched" class="help-invalid">Por favor, insira uma senha válida.</p>

                    <span>
                        A senha precisa ter pelo menos 8 caracteres.
                    </span>

                    <button type="submit" [disabled]="!boumanForm.valid" class="btn">Cadastrar</button>
                </form>
                <!-- Add the link to the terms here in an anchor tag -->
                <p>
                    Ao se cadastrar, você concorda com nossos <a routerLink="/terms" target="_blank">Termos de Serviço e Privacidade </a>, e receber emails
                    nossos.
                </p>
            </div>

            <!-- Error message display -->
            <div *ngIf='messageError'>
                <div class="alert alert-danger" role="alert">
                    {{messageError}}
                </div>
            </div>
        </div>
    </div>
</div>
