.container{
  margin-top: 10vh;
}

.bouman-info {
  display: flex;
  flex-direction: column;
}

.bouman-info {
  text-align: justify;
  margin-bottom: 5vh;
}

.bouman-info span {
  font-weight: bold;

  font-size: 2rem;
  color: #df660f;
}

.bouman-info p {
  font-size: 1rem;

  color: #3a3a3a;
}

.bouman-info img {
  width: 55%;
  height: 60%;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 3% auto;
}

.bouman-form {
  display: flex;
  flex-direction: column;

  padding: 3%;
  width: fit-content;
  height: fit-content;

  filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, #df660f 0%, #fa902e 100%);

  border-radius: 12px;
}

.bouman-form label {
  font-size: 1rem;

  color: #ffffff;

  padding-left: 2%;
}

.bouman-form input, .bouman-form select {
  width: 95%;
  height: 6vh;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;

  margin: 0 0 3% 3%;
}

.bouman-form p.help-invalid {
  margin: 0 0 2% 5%;
  font-size: 0.9rem;
}

.bouman-form span {
  font-weight: bold;
  font-size: 1rem;
  
  margin: 0 0 2% 10%;

  display: flex;

  color: #ffffff;
}

.bouman-form button {
  display: block;
  font-size: 1.2rem;
  color: #ffffff;
  background: linear-gradient(
90.35deg
, #2ca8ba 0.31%, #18adc4 99.86%);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin: 0 auto;
}

.bouman-form p {
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
  font-size: 0.85rem;
}

.bouman-form a {
  width: 90%;
  color: #eeeeee;
  margin: 0 auto;
  margin-top: 3%;
  font-size: 0.85rem;
}

.bouman-form input.ng-invalid.ng-touched {
  border-color: darkred;
  background-color: rgb(255, 158, 158);
}

.alert{
  margin-top: 3%;
}

@media (min-width: 768px) {

  .bouman-info {
    margin-bottom: 0;
  }

  .bouman-info span {
    font-size: 2rem;
    width: 80%;
  }
  
  .bouman-info p {
    font-size: 1rem;
  }

  .bouman-info img {
    width: 50%;
  }

}
.button{
  padding: 5px 10px 5px 10px;
  background: transparent;
  color:#d65900;
  border-color:#df660f;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
}

.button:hover{
  outline-width:2px;
  background-color:#ffae74;
  color: black;
  outline-color:#fd9a53;
}

.btnselected{
  padding: 5px 10px 5px 10px;
  border-style:none;
  background:#ff6a00;
  color:aliceblue;
}
