<!-- Header / Navbar -->
<app-header></app-header>

<!-- Main content -->
<div class="content">
    <div class="row justify-content-center align-items-start">
        <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">
            <!-- New publication form-card -->
            <form #form="ngForm" (ngSubmit)="createPost(form)">
                <div class="form-group">
                    <div class="card">
                        <div class="card-header">
                            <!-- <button class="btn btn-bouman-primary">Imagem</button>
                            <button class="btn btn-bouman-primary">Enquete</button>
                            <button class="btn btn-bouman-primary">Importar projeto</button> -->
                        </div>

                        <div class="card-body">
                            <textarea class="form-control textarea" id="post-textarea" placeholder="Escreva sua postagem aqui" name="content" [(ngModel)]="content"></textarea>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-bouman">Publicar</button>
                        </div>
                    </div>                    
                </div>
            </form>

            <!-- Feed and posts -->
            <div class="feed-content">
                <div class="post-item" *ngFor="let profile of feedPosts">
                    <publication-card [profileId]="profile.profileId" [publication]="post" *ngFor="let post of profile.posts"></publication-card>
                </div>                
            </div>
        <div>
        
        <!-- Showing if there're no posts -->
        <div *ngIf="!feedPosts">
            <span>Crie uma postagem ou siga alguém para começar!</span>
        </div>
    </div>
</div>
