.no-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 2rem;
    text-align: center;

    color: #5E5E5E;            
}

.no-content span {
    font-weight: bold;
    font-size: 4rem;
}

.textarea {
    max-height: 10%;
    min-height: 10%;
    font-size: 50%;
}