content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 2rem;
    text-align: center;

    color: #5E5E5E;
}

content span {
    font-weight: bold;
    font-size: 4rem;
}

.card-header, .card-footer {
    display: flex;
    background-color: #D3E2E5;
}

.card-header {
    padding: 0;
    justify-content: space-around;
}

.card-body {
    padding: 0;
}

.card-body textarea {
    resize: none;
}

.card-footer {
    justify-content: flex-end;
}

.modal-content .modal-header {
    font-size: 1.8rem;
    font-weight: bold;
}
.theresnothing{
    font-style: inherit;
    font-size: 200%;
    font-family:monospace;
    text-align: center;
}