.no-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;

    width: 825px;
    height: 386px;

    font-size: 48px;
    text-align: center;

    color: #5E5E5E;            
}

.no-content span {
    font-weight: bold;
    font-size: 144px;        
}
