.container, .row {
    height: 100vh;
}

img {
    width: 90%;
}

h1 {
    font-size: 2.9rem;
    font-weight: bold;
}

.text-error {
    font-size: 1.2rem;
}

#text-email {
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 3%;
    text-align: center;
}

#texts {
    height: fit-content;
    width: fit-content;
    background-color: rgb(250, 144, 46, 0.3);
    padding: 3%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    h1{
        font-size: 2.5rem;
    }
}
