<div class="container-flex">
    <div class="row">
        <div class="col-md-1"></div>
        <!-- Image illustrating 404 error -->
        <div class="col-md-5">
            <img src="../../../assets/404.svg">
        </div>
        <!-- Text illustrating 404 error -->
        <div class="col-md-5" id="texts">
            <h1>Página não encontrada!</h1>
            <p class="text-error">Parece que a página pela qual você está procurando não existe, está temporariamente indisponível ou teve sua URL alterada.</p>
            <p class="text-error">Por favor, verifique o endereço da página, volte para a anterior ou nos contate em:</p>
            <p id="text-email">bouman.equipe@gmail.com</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>