<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-1 col-sm-1 col-lg-1"></div>
        <div class="col-md-10 col-sm-10 col-lg-10">
            <h1>GUIA BÁSICO PARA RECÉM-PESQUISADORES</h1>
            <hr>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-0 col-lg-1"></div>
        <div class="col-md-10 col-sm-12 col-lg-10">
            <div id="drops">

                <!-- Definição -->
                <div class="card">
                    <div class="card-header" id="what">
                        <span>1. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#whatItIs">O que são artigos
                            científicos?</h2>
                    </div>
                    <div id="whatItIs" class="collapse" aria-labelledby="what" data-parent="#drops">
                        <div class="card-body">
                            <p>
                                A Associação Brasileira de Normas Técnicas (ABNT) traz a definição de artigo científico
                                como "uma publicação com autoria declarada, que apresenta e discute ideias, métodos,
                                técnicas, processos e resultados nas diversas áreas do conhecimento."
                            </p>
                            <p>
                                Ou seja, nem todo texto ou trabalho pode ser considerado um artigo científico, apenas
                                aqueles que discutem, pesquisam e trazem resultados. Além disso, é preciso seguir uma
                                série de normas e formatações.
                            </p>
                            <p>
                                Artigos podem e devem ser publicados por qualquer pessoa mas geralmente os responsáveis
                                por eles são pessoas que possuem algum vínculo acadêmico.
                            </p>
                            <p>
                                Eles são importantes porque além de servir como avalição em graduações e pós-graduações,
                                também são grandes fontes de informações e possuem um papel muito importante na
                                propagação e evolução da ciência. <a href="https://blog.mettzer.com/artigo-cientifico/" target="_blank" >(Tumelero, 2018)</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Como escrever um artigo -->
                <div class="card">
                    <div class="card-header" id="how">
                        <span>2. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#whatToDo">Como escrever um artigo?
                        </h2>
                    </div>
                    <div id="whatToDo" class="collapse" aria-labelledby="how" data-parent="#drops">
                        <div class="card-body">
                            <p>
                                Resumidamente, os artigos científicos seguem as normas ABNT, porém nem mesmo a
                                Associação tem
                                uma estrutura específica para esse tipo de documento. Por isso, as formatações e tópicos
                                podem variar de acordo com a sua instituição ou do local em que você deseja
                                publicar.
                            </p>
                            <p>
                                Após analisarmos a estrutura de alguns artigos, sugerimos a seguinte estrutura, porém
                                lembre-se de investigar se essa estrutura faz sentido para o seu trabalho:
                            </p>
                            <ul>
                                <li>Resumo</li>
                                <p>
                                    Aqui você deve literalmente resumir em um texto curto e objetivo do que se trata o
                                    seu artigo, quais as metodologias, qual a problemática que torna o tema escolhido
                                    importante de ser discutido e estudado e quais os resultados que você encontrou.</p>
                                <p>
                                    É necessário também criar um Abstract, ele nada mais é do que a versão do seu resumo
                                    em inglês. Junto a isso, defina ao menos 3 palavras-chave, elas servem para
                                    facilitar a busca dos temas. Exemplo:
                                </p>
                                <span class="bold">Palavras-chave: </span><span>Ciência; Cultura; Pesquisa.</span>

                                <li>Introdução</li>
                                <p>
                                    Também deve ser um texto curto em que seja possível entender <span class="bold">o
                                        que,
                                        como e por que</span>.
                                    Nele o tema deve ser delimitado, e inserir o leitor no contexto da problemática.
                                </p>

                                <li>Desenvolvimento</li>
                                <p>
                                    Aqui o tema é aprofundado e detalhado, trazendo dados e discussões. É importante que
                                    seja escrito de uma maneira clara onde qualquer pessoa consiga entender.</p>
                                <p>
                                    Aqui, junto com os <span class="bold">referências teóricos</span> (revisão de
                                    pesquisas
                                    e discussões já existentes que possuem o mesmo tema que o seu trabalho, e que
                                    garante
                                    embasamento e qualidade ao trabalho), as <span class="bold">metodologias</span>
                                    (quais
                                    os caminhos utilizados para conduzir a pesquisa) também devem ser inseridas.
                                </p>

                                <li>Resultados</li>
                                <p>
                                    Apresenta-se os resultados encontrados na análise dos dados expostos. Pode-se
                                    utilizar, além de textos, imagens e tabelas.
                                </p>

                                <li>Conclusões ou Considerações Finais</li>
                                <p>
                                    Este é o fechamento da pesquisa. De forma clara e objetiva, indique quais conclusões
                                    são possíveis após analisar os dados e discussões e como isso se relaciona com os
                                    objetivos da pesquisa.
                                </p>

                                <li>Referências Bibliográficas ou Bibliografia</li>
                                <p>
                                    Deve constar quais foram as fontes para as informações que estão contidas no
                                    trabalho. Indique quais autores, livros, textos foram utilizados. Presta atenção
                                    nesta etapa pois caso haja alguma informação em que a fonte não esteja declarada na
                                    biblografia, caracteriza-se como <span class="bold">plágio</span>.</p>
                                <p>
                                    Há modos diferentes de declarar a referência, dependendo da fonte utilizada. Para
                                    entender cada uma delas, recomendados a leitura <a target="_blank"
                                        href="https://blog.mettzer.com/referencia-bibliografica-normas-abnt/">deste
                                        post</a> no site Mettzer.
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Onde encontrar fontes -->
                <div class="card">
                    <div class="card-header" id="source">
                        <span>3. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#toFind">Onde encontrar fontes
                            confiáveis?</h2>
                    </div>
                    <div id="toFind" class="collapse" aria-labelledby="source" data-parent="#drops">
                        <div class="card-body">
                            <p>
                                Primeiramente, é importante fazer buscar com palavras-chaves específicas para o que você
                                procura, não utilize textos longos ou muito abrangentes.
                            </p>
                            <p>
                                Prefira utilizar sites que tenham credibilidade em suas informações, como por exemplo:
                                <span class="bold">instituições de ensino, centros de pesquisas e universidades ou
                                    especialistas na área</span>.
                            </p>
                            <p>
                                Livros e periódicos sempre serão boas fontes e você consegue encontrar muitos deles na
                                internet! Além disso, é possível encontrar muitos mais informações fazendo as buscas em
                                inglês.
                            </p>
                            <p>Abaixo estão nomeados alguns exemplos dos sites mais reconhecidos:</p>
                            <a class="listItem" target="_blank" href="http://bdtd.ibict.br/vufind/">BDTD (Biblioteca
                                Digital Brasileira de Teses e Dissertações)</a>
                            <a class="listItem" target="_blank" href="https://scholar.google.com.br/?hl=pt">Google
                                Acadêmico</a>
                            <a class="listItem" target="_blank" href="https://ibge.gov.br/">IBGE (Instituto Brasileiro
                                de Geografia e Estatistica)</a>
                            <a class="listItem" target="_blank"
                                href="https://www-periodicos-capes-gov-br.ezl.periodicos.capes.gov.br/index.php?">Portal
                                de Periódicos CAPES</a>
                            <a class="listItem" target="_blank" href="https://www.scielo.org/">Scielo (Scientific
                                Electronic Library Online)</a>
                            <a class="listItem" target="_blank" href="https://www.sciencedirect.com/">ScienceDirect</a>
                            <a class="listItem" target="_blank" href="http://repositorio.ipea.gov.br/">Repositório do
                                Conhecimento do IPEA</a>
                        </div>
                    </div>
                </div>

                <!-- Onde conseguir financiamento -->
                <div class="card">
                    <div class="card-header" id="support">
                        <span>4. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#forSupport">Onde conseguir
                            financiamento/bolsa para um projeto?</h2>
                    </div>
                    <div id="forSupport" class="collapse" aria-labelledby="support" data-parent="#drops">
                        <div class="card-body">
                            <p>Através de instituições e programas que apoiam e financiam pesquisas, como:</p>
                            <a class="listItem" target="_blank"
                                href="https://www.gov.br/capes/pt-br/acesso-a-informacao/acoes-e-programas/bolsas">CAPES
                                (Coordenação de Aperfeiçoamento de Pessoal de Nível Superior)</a>
                            <a class="listItem" target="_blank"
                                href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/bolsas-e-auxilios/copy_of_modalidades">CNPq
                                (Conselho Nacional de Desenvolvimento Científico e Tecnológico)</a>
                            <a class="listItem" target="_blank" href="https://confap.org.br/pt/faps">FAPs (Fundações de
                                Amparo à Pesquisa)</a>
                            <a class="listItem" target="_blank" href="http://www.faperj.br/?id=10.4.4">FAPERJ (Fundação
                                Carlos Chagas Filho de Amparo à Pesquisa do <span class="bold">Rio de
                                    Janeiro</span>)</a>
                            <a class="listItem" target="_blank" href="https://fapesp.br/bolsas">FAPESP (Fundação Carlos
                                Chagas Filho de Amparo à Pesquisa de <span class="bold">São Paulo</span>)</a>
                            <a class="listItem" target="_blank"
                                href="https://www.gov.br/pt-br/servicos/candidatar-se-a-bolsa-de-iniciacao-cientifica-em-pesquisa-pibic">PIBIC
                                (Programa Institucional de Bolsas de Iniciação Científica)</a>
                            <a class="listItem" target="_blank"
                                href="https://www.gov.br/pt-br/servicos/candidatar-se-a-bolsa-de-iniciacao-tecnologica-em-pesquisa-pibiti">PIBITI
                                (Programa Institucional de Bolsas de Iniciação em Desenvolvimento Tecnológico e
                                Inovação)</a>
                            <p class="margin">Ou de maneira autônoma, em sites de financiamento coletivo:</p>
                            <a class="listItem" target="_blank" href="https://apoia.se/">Apoia.se</a>
                            <a class="listItem" target="_blank" href="https://benfeitoria.com/">Benfeitoria</a>
                            <a class="listItem" target="_blank" href="https://www.catarse.me/">Catarse</a>
                            <a class="listItem" target="_blank" href="https://www.idea.me/">Idea.me</a>
                            <a class="listItem" target="_blank" href="https://www.kickante.com.br/">Kickante</a>
                            <a class="listItem" target="_blank" href="https://www.patreon.com/">Patreon</a>
                        </div>
                    </div>
                </div>

                <!-- Onde publicar -->
                <div class="card">
                    <div class="card-header" id="where">
                        <span>5. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#toPublish">Onde publicar a pesquisa?
                        </h2>
                    </div>
                    <div id="toPublish" class="collapse" aria-labelledby="where" data-parent="#drops">
                        <div class="card-body">
                            <p>
                                Além de compartilhar a sua pesquisa aqui no <span class="bold">Bouman</span>, você
                                também
                                pode publicá-la em bibliotecas e revistas online:
                            </p>
                            <a class="listItem" target="_blank"
                                href="https://doaj.org/account/login?redirected=apply">DOAJ (Directory of Open Access
                                Journals)</a>
                            <a class="listItem" target="_blank" href="https://scholar.google.com.br/?hl=pt">Google
                                Acadêmico</a>
                            <a class="listItem" target="_blank"
                                href="https://www.nucleodoconhecimento.com.br/enviar-artigo-cientifico-para-submissao?fbclid=IwAR0WxgnppFiX1RhDJdaoqdSv410hwDalQHbdcW-DZziDS0u_Fi6ufvBOdLc">Núcleo
                                do Conhecimento</a>
                            <a class="listItem" target="_blank" href="https://periodicos.utfpr.edu.br/">PERI (Portal de
                                Periódicos Científicos da UTFPR)</a>
                            <a class="listItem" target="_blank"
                                href="https://www.revistas.usp.br/revusp/about/submissions">Portal de Revistas da
                                USP</a>
                            <a class="listItem" target="_blank"
                                href="https://rbpg.capes.gov.br/index.php/rbpg/about/submissions">RBPG (Revista
                                Brasileira de Pós-Graduação)</a>
                            <a class="listItem" target="_blank"
                                href="https://periodicos.unicesumar.edu.br/index.php/iccesumar/about/submissions#:~:text=O%20cadastro%20no%20sistema%20e,ou%20Registrar%20uma%20nova%20conta.">Revistas
                                Científicas UniCesumar</a>
                            <a class="listItem" target="_blank" href="https://submission.scielo.br/">Scielo</a>
                            <p class="margin">
                                Além dessas opções, ainda existem os <span class="bold">Anais de Eventos</span>, que são
                                uma coleção de todos os trabalhos científicos produzidos ou compartilhados durante
                                determinado evento. Este evento pode ser um congresso, uma conferência, encontros,
                                oficinas, entre outros. <a href="https://www.unasp.br/blog/onde-publicar-artigos-cientificos/" target="_blank"> (UNASP, 2019)</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Propriedade Intelectual -->
                <div class="card">
                    <div class="card-header" id="property">
                        <span>6. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#toGuarantee">Como garantir a
                            propriedade intelectual?</h2>
                    </div>
                    <div id="toGuarantee" class="collapse" aria-labelledby="property" data-parent="#drops">
                        <div class="card-body">
                            <p>
                                No <span class="bold">Bouman</span> o pesquisador tem a opção de não deixar o
                                projeto completamente público, privando as partes que considera mais sensível, mas caso
                                compartilhar todo o projeto seja uma opção, é preciso entender alguns pontos.
                            </p>
                            <p>
                                De acordo com a definição da Organização Mundial de Propriedade Intelectual (OMPI), a
                                Propriedade Intelectual está separada em duas categorias: Propriedade Industrial, onde
                                estão incluidas as patentes, marcas, indicação geográfica e proteção de
                                cultivares, e Direitos Autorais abrangendo trabalhos literários, científicos e
                                artísticos, poemas, filmes, música, desenhos, imagens, software, entre outros.
                            </p>
                            <p>
                                O direito autoral no Brasil está regulamentado pela Lei nº 9.610/98, ela tem
                                como finalidade proteger as obras literárias e artísticas, dificultando que
                                outras pessoas utilizem indevidamente as obras protegidas. Os textos científicos 
                                são protegidos, porém essa proteção atinge apenas sua forma literária nos termos 
                                do § 3º do artigo 7º desta mesma lei:
                            </p>
                            <span>
                                “ (...) § 3º No domínio das ciências, a proteção recairá sobre a forma literária ou
                                artística,
                                não abrangendo o seu conteúdo científico ou técnico, sem prejuízo dos direitos que
                                protegem os
                                demais campos da propriedade imaterial.”
                            </span>
                            <p class="margin">
                                O registro formal dos direitos autorais é feito na Biblioteca Nacional, na Escola de
                                Música, na Escola de Belas Artes da Universidade Federal do Rio de Janeiro, no Instituto
                                 Nacional do Cinema ou no Conselho Federal de Engenharia, Arquitetura e Agronomia e na 
                                 Agência de Inovação da UFPA (UNIVERSITEC), e, apesar de não ser obrigatório
                                para a proteção dos seus direitos, no momento em que a autor for contestado, o documento
                                será de grande ajuda e importância.
                            </p>
                            <p>
                                O criador obtém a proteção dos direitos automaticamente na data da publicação da criação
                                e permanece durante
                                a vida do autor e 70 anos após sua morte. Para efetivação do registro, será cobrada uma
                                taxa onde o comprovante de pagamento deverá ser encaminhado juntamente ao processo de
                                solicitação do registro.
                            </p>
                            <p>
                                Para maior aprofundamento do tema, recomendamos a leitura <a target="_blank"
                                    href="https://anaclaraalvesribeiro.jusbrasil.com.br/artigos/786542112/issn-isbn-direito-autoral-patente-como-proteger-um-trabalho#:~:text=O%20registro%20de%20Direitos%20Autorais,obviamente%20voc%C3%AA%20precisar%C3%A1%20prov%C3%A1%2Dla.">deste
                                    post</a>
                                e <a target="_blank"
                                    href="https://duduhvanin.jusbrasil.com.br/artigos/407435408/propriedade-intelectual-conceito-evolucao-historica-e-normativa-e-sua-importancia">deste
                                    post</a>, ambos publicados no site Jusbrasil.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Contato Bouman -->
                <div class="card">
                    <div class="card-header" id="contact">
                        <span>7. </span>
                        <h2 class="collapsed" data-toggle="collapse" data-target="#toContact">Como entrar em contato com a equipe do Bouman?</h2>
                    </div>
                    <div id="toContact" class="collapse" aria-labelledby="contact" data-parent="#drops">
                        <div class="card-body">
                            <p>
                                Caso as suas dúvidas não tenham sido esclarecidas, ou haja alguma reclamação, solicitação, 
                                sugestão ou elogio, utilize o email:
                            </p>
                            <span id="email">bouman.equipe@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-0 col-lg-1"></div>
    </div>
</div>