nav.navbar {
  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  border: none;
  height: 9vh;
  border-radius: 0;
}

nav .container-fluid .navbar-header {
  display: flex;
  align-items: center;

  margin: 0;
}

a.navbar-brand {
  padding-top: 1%;
  padding-left: 1%;

  cursor: pointer;
}

a.navbar-brand > img {
    display: none;
  
    width: 64px;
    height: 32px;
}

nav .container-fluid .navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;    
}

span {
    font-style: normal;
    font-weight: bold;
    font-size: 3.4rem;

    color: #FFFEFE;
}

nav .container-fluid .navbar-collapse button {    
  width: fit-content;
  height: fit-content;

  background-color: #FA902E;
  border: 2px solid #FFFFFF;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  font-size: 1.6rem;
  text-align: center;

  color: #FFFFFF;

  padding: 0.4rem 1.6rem;
  margin: 0 2.4rem;
}

@media (min-width: 768px) {
  nav .container-fluid .navbar-header {
    display: flex;
    align-items: baseline;
  }

  a.navbar-brand > img {
    display: block;

    width: 80px;
    height: 45px;

    margin: 10px;
  }

  nav .container-fluid .navbar-collapse {    
    height: 12vh;
  }

  nav .container-fluid .page-toggle {    
    position: absolute;
    right: 0;
  }

  nav .container-fluid .navbar-collapse button:hover {
    background-color: #DF660F;
  }
  
}
