nav.navbar {
  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  border: none;
  border-radius: 0;
  margin-bottom: 1.6%;
}

nav .container-fluid {
  display: block;
  align-items: center;

  margin: 0;
}

.navbar-collapse img {
  display: none;
  height: 10vh;
}

.navbar-collapse  {
  display: flex;
  align-items: center;
  border: none;
}

.navbar-collapse .bouman-title {
  text-align: center;
}

span.navbar-text {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;

  color: #FFFEFE;
}

.page-toggle {
  display: flex;
  justify-content: center;
}

.page-toggle button {    
  background-color: #FA902E;
  border: 2px solid white;
  
  box-shadow: 0px 4px 4px rgba(20, 19, 19, 0.25);

  color: white;
    
  margin: 0 1rem;
}

.page-toggle button:hover {
  background-color: #DF660F;
}  

@media (min-width: 768px) {
  nav .container-fluid .navbar-header {
    display: flex;
    align-items: baseline;
  }

  .navbar-collapse img {
    display: flex;
    height: 10vh;
  }
  
}
