<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-collapse row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <img src="/assets/logo.png" alt="Logo Bouman">
            </div>

            <div class="col-sm-6 col-md-7 col-lg-8 bouman-title">
                <span class="navbar-text">Bem-vindo ao Bouman</span>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="page-toggle">
                    <button routerLink="/login" class="btn btn-default">Login</button>
    
                    <button routerLink="/signup" class="btn btn-default">Cadastro</button>
                </div>
            </div>
        </div>
    </div>
</nav>