nav.navbar {
  background: linear-gradient(90.35deg, #2ca8ba 0.31%, #18adc4 99.86%);
  border: none;
  border-radius: 0;
}

nav .container-fluid {
  display: block;
  align-items: center;

  margin: 0;
}

.navbar-collapse img {  
  display: block;
  height: 10vh;
}

.navbar-collapse  {
  display: flex;
  align-items: center;
  border: none;
}

.navbar-collapse .bouman-title {
  display: none;
  justify-content: center;
}

span.navbar-text {
  font-style: normal;
  font-weight: bold;
  font-size: 2.6rem;

  color: #FFFEFE;
}

.navbar-collapse button {    
  background-color: #FA902E;
  border: 2px solid white;
  
  box-shadow: 0px 4px 4px rgba(20, 19, 19, 0.25);

  color: white;
    
  margin: 0 1rem;
}

.navbar-collapse button:hover {
  background-color: #DF660F;
}  

@media (min-width: 768px) {
  nav .container-fluid .navbar-header {
    display: flex;
    align-items: baseline;
  }

  .navbar-collapse .bouman-title {
    display: flex;
    justify-content: center;
  }

  /* .navbar-collapse button {
    margin: 0 1rem;
  } */
  
}
