<!-- Secondary header, for not logged users -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-collapse row">
            <!-- Bouman logo -->
            <div class="col-md-1 col-lg-2">
                <img src="/assets/logo.png" alt="Logo Bouman">
            </div>
            
            <div class="col-sm-6 col-md-8 col-lg-7 bouman-title">
                <span class="navbar-text">Bem-vindo ao Bouman</span>
            </div>

            <!-- Navigate options -->
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="page-toggle">
                    <button routerLink="/login" class="btn btn-default">Login</button>
    
                    <button routerLink="/signup" class="btn btn-default">Cadastro</button>
                </div>
            </div>
        </div>
    </div>
</nav>