.login-component {
    margin: 0 auto;
}

.bouman-user {
    margin-bottom: 4%;
    width: 30%;
    margin-left: 33%;
}

.bouman-form label, a{
    color: #df660f;
}

.bouman-form button, label{
    font-size: 24px;
}

.bouman-form p {
    font-size: 1.6rem;
    font-weight: bold;
}

.bouman-form input.bouman-input {
        
    margin-bottom: 5%;
    box-shadow: 3px 3px 3px #a3a3a3;
}

.bouman-form .show-pass {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    align-items: baseline;
}

.bouman-form .show-pass input {    
    margin-right: 1rem;
}

.bouman-form button {    
    border-color: #df660f;
    background-color: #fa902e;
    color: #ffffff;
    width: 40%;
    height: 100%;
    font-weight: bold;
    margin-left: 30%;
}

.bouman-form button:hover {    
    border-color: #fa902e;
    background-color: #df660f;
}