.login-component {
    margin: 0 auto;
}

.bouman-user {
    width: 30%;
    margin-left: 33%;
}

.bouman-form label, a{
    color: #df660f;
}

.bouman-form button, label{
    font-size: 1.3rem;
}

.bouman-form label{
    margin-top: 5%;
}

/*.bouman-form p {
    font-size: 1.6rem;
    font-weight: bold;
}*/

.bouman-form input.bouman-input {
    box-shadow: 3px 3px 3px #a3a3a3;
}

.bouman-form .show-pass {
    font-size: 1rem;
    margin: 1rem 0 1.2rem 0;
    align-items: baseline;
}

.bouman-form .show-pass input {    
    margin-right: 1rem;
}

.bouman-form button {    
    border-color: #df660f;
    background-color: #fa902e;
    color: #ffffff;
    width: 100%;
    height: 100%;
    font-weight: bold;
    margin: 0 auto;
}

.bouman-form button:hover {    
    border-color: #fa902e;
    background-color: #df660f;
}

.bouman-form p.help-invalid {
    margin: 2% 0 0 2%;
    font-size: 0.9rem;
    font-weight: 500;
}
.bouman-form input.ng-invalid.ng-touched {
    border-color: darkred;
    background-color: rgb(255, 158, 158);
}