<div class="content">
    <h1>Comece configurando seu perfil</h1>
    <div class="profile-conf">
        <h3>Dados</h3>
        <hr>

        <div class="bouman-form">
            <label for="profile-about">Sobre <span>Máximo de 300 caracteres</span></label>
            <textarea name="profile-config" id="profile-about" maxlength="300" placeholder="Descreva um pouco de quem você é e do seu trabalho para a comunidade"></textarea>

            <label for="profile-picture">Sua foto de perfil</label>
            <input name="profile-config" id="profile-picture" placeholder="Faça o upload da foto aqui">            

            <label for="profile-wpp">Que tal um papel de parede?</label>
            <input name="profile-config" id="profile-wpp" placeholder="Faça o upload da imagem aqui">
            
            <button routerLink="/profile">Confirmar</button>
        </div>

    </div>
</div>