<!-- Header / Navbar -->
<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- form to edit profile -->
      <form (ngSubmit)="onSubmit(profConfForm)" #profConfForm="ngForm" id="backForm">
        <h2 id="title">Altere os dados do seu perfil:</h2> 
        <hr/>
        <div class="form-group">
          <label for="name">Seu nome</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">

          <label for="desc">Descrição do perfil</label>
          <textarea type="text" class="form-control" id="desc" name="desc" [(ngModel)]="user.desc"></textarea>

          <div class="row">
            <!-- Selects the value for the area code that's equal to user area code -->
            <div class="col-md-6">
              <label for="area">Área de atuação</label>
              <select class="custom-select bouman-select" id="area" name="area" [(ngModel)]="user.area"
              (change)="getSubareas(user.area)" formControlName="area">
                <option *ngFor="let area of areas"
                  [attr.selected]="user.area == area.value ? true : null">
                  {{ area.name }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="subarea">Subárea de atuação</label>
              <select class="custom-select bouman-select" id="subarea" name="subarea" [(ngModel)]="user.subarea"
                formControlName="subarea">
                <option *ngFor="let subarea of subareas"
                  [attr.selected]="user.subarea == subarea.value ? true : null">
                  {{ subarea.name }}
                </option>
              </select>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-bouman-form" data-toggle="modal" data-target="#updateModal" #modal>
              Salvar
            </button>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Deseja salvar as alterações?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Essas informações também serão alteradas para grupos em que você participa e para aqueles que te seguem.</p>
                <div id="listData">
                  <h6 class="listItem">Nome: </h6><span>{{ user.name }}</span>
                  <h6 class="listItem">Descrição: </h6><span>{{ user.desc }}</span>
                  <h6 class="listItem">Área: </h6><span *ngIf="user.area">{{ areas[+user.area - 1].name }}</span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-bouman-modal">Salvar Mudanças</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>