<app-header></app-header>
<div class="container-fluid">
  <form (ngSubmit)="onSubmit(profConfForm)" #profConfForm="ngForm">
    <div class="form-group">
      <label for="name">Seu nome</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">

      <label for="desc">Descrição do perfil</label>
      <textarea type="text" class="form-control" id="desc" name="desc" [(ngModel)]="user.desc"></textarea>

      <label for="area">Área de Atuação</label>
      <select class="form-control bouman-select" id="area" name="area" [(ngModel)]="user.area">
        <option *ngFor="let area of areas" [value]="area.value" [attr.selected]="user.area == area.value ? true : null">
          {{ area.name }}
        </option>
      </select>

    </div>

    <button type="submit" class="btn btn-bouman">Salvar</button>
  </form>
  
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#reauthModal" data-whatever="@getbootstrap">Excluir conta</button> -->

  <div class="modal fade" id="reauthModal" tabindex="-1" role="dialog" aria-labelledby="reauthModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reauthModalLabel">Tem certeza que quer deixar o Bouman tão cedo? :(</h5>
        </div>
        <div class="modal-body">
          <span>Excluir sua conta requer reautencicação</span>
          <form (ngSubmit)="onDelete(reauth)" #reauth="ngForm">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label" >Email:</label>
              <input type="text" class="form-control" id="recipient-name"
              name="email">
            </div>
            <div class="form-group">
              <label for="recipient-text" class="col-form-label">Senha:</label>
              <input class="form-control" id="message-text" name="senha">
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-danger">Sim, tenho certeza</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  
</div>