/* MAIN STYLES */

html {
    font-family: 'Oxygen', sans-serif !important;
}

/* NAVBAR */
.logo-bouman {
    width: 10vw;
    height: 11vh;
}

form.search-bouman {
    margin: 0 25vw;
}

input.search-bouman {
    width: 21.6vw !important;

    color: #FA902E;
    font-weight: bold;
    
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 8px;
}

input.search-bouman::placeholder {    
    color: #FA902E;
    font-weight: bold;
    text-align: center;
    
}

.navbar {
    background: linear-gradient(90.35deg, #2CA8BA 0.31%, #18ADC4 99.86%);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);

    justify-content: flex-start;
}
