<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/feed" class="navbar-brand" (click)="onSelect('feed')">
                <img src="/assets/logo.png" alt="Logo Bouman">
            </a>
            <input type="text" name="Pesquisar" id="pesquisar-input" placeholder="Pesquisar">
        </div>

        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">

            <ul class="nav navbar-nav">                
                <li>
                    <a routerLink="/feed" (click)="onSelect('feed')">
                        <img src="/assets/home.svg" alt="Página Inicial">
                        Início
                    </a>
                </li>
                <li>
                    <a>
                        <img src="/assets/testplan.svg" alt="Seus projetos">
                        Projetos
                    </a>
                </li>
                <li>
                    <a>
                        <img src="/assets/people.svg" alt="Apoio">
                        Apoio
                    </a>
                </li>
                <li>
                    <a>
                        <img src="/assets/notification.svg" alt="Notificação">
                        Notificações
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button">
                        <img src="/assets/profile-example.jpg" alt="Seu perfil" id="profile-picture">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" routerLink="/profile" (click)="onSelect('profile')">Perfil</a></li>
                        <li><a href="#">Configurações</a></li>
                        <li><a href="#">Suporte</a></li>
                        <li><a href="#" routerLink="/signup" (click)="onSelect('signup')">Sair</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>