nav.navbar{
    width: 100vw;
    height: 12vh;
    background: linear-gradient(90.35deg, #2CA8BA 0.31%, #18ADC4 99.86%);
    padding: 0;
    align-items: center;

    a.navbar-brand {
        img {
            width: 120px;
            height: 70px;        
        }    
    }

    input {
        width: 312px;
        height: 42.14px;

        background: #FFFFFF;
        border: 1px solid #5C5C5C;
        box-sizing: border-box;
        border-radius: 8px;

        font-weight: bold;
        font-size: 20px;
        text-align: center;

        &::placeholder {
            color: #FA902E;
        }
    }

    .navbar-nav {
        flex-direction: row;
        
        li {
            padding-right: 15px;
            a {
                text-decoration: none;
                text-align: center;
    
                color: black;

                img {
                    display: block;

                    &.profile-picture {
                        border: 1px solid #5C5C5C;
                        box-sizing: border-box;
                        border-radius: 32px;

                        width: 64px;
                        height: 64px;
                    }
                }
            }
        }        
    }
}
