.project-card .project-header {
    font-size: 2.4rem;
    font-weight: bold;
}

.list-group-item {
    margin-bottom: 4vh;
}

@media (min-width: 768px) {
    .list-group-item {
        margin-bottom: 6vh;
    }   
}