/* MAIN STYLES */

header, main, footer {
    font-family: 'Oxygen', sans-serif !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

/* NAVBAR */
.logo-bouman {
    width: 10vw;
    height: 11vh;
}

form.search-bouman {
    margin: 0 20vw;
}

input.search-bouman {
    width: 21.6vw !important;

    color: #FA902E;
    font-weight: bold;
    
    background: #FFFFFF;
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 8px;
}

input.search-bouman::placeholder {    
    color: #FA902E;
    font-weight: bold;
    text-align: center;
    
}

#logo-home {
    width: 3.47vw;
    height: 4.4vh;
}

#logo-projeto {
    width: 4.4vw;
    height: 4.4vh;
}

#logo-people {
    width: 3.3vw;
    height: 4.7vh;
}

#logo-notify {
    width: 2.6vw;
    height: 4vh;
}

#profile-example {
    width: 4.7vw;
    height: 9.75vh;
    border: 1px solid #5C5C5C;
    border-radius: 38px;
}

.navbar {
    background: linear-gradient(90.35deg, #2CA8BA 0.31%, #18ADC4 99.86%);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);

    justify-content: flex-start;
}
