<div class="card">
    <div class="card-body">  
        <div #btnFundo></div> 
        <img [src]="this.wallpImg" alt="Papel de parede" class="profile-background">

        <!--<input type="file" id="FotoPerfil" (change)="upload($event)" accept="*.jpg.png"/>
        <input type="file" id="FotoFundo" (change)="upload($event)" accept="*.jpg.png"/>
    
        <button (click)="profilePic()">ALTERAR FOTO DE PERFIL</button>
        <button (click)="wallpaPic()">ALTERAR FOTO DE FUNDO</button>-->

        <div class="profile-card-content">
            <div class="col-md-11">
                <div #btnPerfil></div> 
                <img [src]="this.profileImg" alt="Foto de perfil" class="profile-picture">
                <div class="text-content">
                    <h1 class="card-title">{{ userData.name }}</h1>
                    <p class="card-text">{{ userData.desc }}</p>
                </div>
            </div>
            <div class="col-md-1">
                <img *ngIf="!esconder" role="button" (click)="altFoto()" id="editPen" src="../../../../assets/pen.svg">
                <button *ngIf="esconder" id="button-save" (click)="saveFotos()">Salvar</button>
            </div>
        </div>

    </div>
</div>