<div class="card">
    <div class="card-body">

        <input type="file" id="FotoPerfil" (click)="uploadFile($event)">
        <input type="file" id="FotoParede"(click)="uploadFile($event)">
        <img src="https://th.bing.com/th/id/OIP.51ybEcfxyHr0Qcrmvj-6wQHaEo?pid=ImgDet&rs=1" alt="Papel de parede" class="profile-background">

        <img src="/assets/profile-example.jpg" alt="Foto de perfil" class="profile-picture">
        <div class="profile-card-content">
            <div class="text-content">
                <h1 class="card-title">Eleonor Pena</h1>
                <p class="card-text">Professora no Ensino Médio | MSc. em Física de Partículas, pesquisadora na área de Psicologia Educaional, Engenheira Mecãnica pela USP.</p>
            </div>
            
        </div>

    </div>
</div>